<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<link href="../static/lib/primevue@3.15.0/resources/themes/saga-blue/theme.css" rel="stylesheet" />
<!--
<link href="../static/lib/primevue@3.15.0/resources/themes/saga-blue/theme.css" rel="stylesheet" />
-->
<link href="../static/lib/primevue@3.15.0/resources/primevue.min.css" rel="stylesheet" />
<link href="../static/lib/primeicons@5.0.0/primeicons.css" rel="stylesheet" />
<link href="../static/lib/primeflex@3.1.2/primeflex.min.css" rel="stylesheet" />
<script src="../static/lib/vue@3.2.36/vue.global.prod.js"></script>
<script src="../static/lib/primevue@3.15.0/core/core.min.js"></script>
<script src="../static/lib/primevue@3.15.0/tabmenu/tabmenu.min.js"></script>
<script src="../static/lib/primevue@3.15.0/card/card.min.js"></script>
<script src="../static/lib/primevue@3.15.0/datatable/datatable.min.js"></script>
<script src="../static/lib/primevue@3.15.0/column/column.min.js"></script>
<script src="../static/lib/primevue@3.15.0/contextmenu/contextmenu.min.js"></script>
<style>
/*竖向tabmenu*/
.p-tabmenu.vertical-tabmenu {
	display: inline-block;
	padding: 0.25em;
	box-sizing: border-box;
}
.p-tabmenu.vertical-tabmenu .p-tabmenu-nav {
	flex-direction: column;
	background-color: var(--surface-card);
	border: 0;
}
.p-tabmenu.vertical-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link,
.p-tabmenu.vertical-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
	border-width: 0 !important;
}
.p-tabmenu.vertical-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-icon {
	margin-right: 0;
	margin-bottom: 0.5em;
}
.p-tabmenu.vertical-tabmenu .p-tabmenu-nav .p-tabmenuitem{
	margin-bottom: 0.5em;
}
.p-tabmenu.vertical-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
	background-color: var(--surface-card);
	flex-direction: column;
}
.p-tabmenu.vertical-tabmenu.collapse .p-tabmenu-nav .p-tabmenuitem .p-menuitem-icon{
	margin-bottom: 0;
}
.p-tabmenu.vertical-tabmenu.collapse .p-tabmenu-nav .p-menuitem-text{
	display: none;
}
.p-tabmenu.vertical-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link{
	background-color: var(--surface-200);
	color: var(--primary-color);
	border-radius: var(--border-radius);
}

/*横向操作组*/
.h-opts > *{
	margin-left: 0.25em;
	margin-right: 0.25em;
}
.h-opts > *:first-child{
	margin-left: 0;
}
.h-opts > *:last-child{
	margin-right: 0;
}

/*error菜单条目*/
.p-contextmenu .p-error .p-menuitem-link,
.p-contextmenu .p-error .p-menuitem-link .p-menuitem-text{
	color: inherit;
}
</style>
</head>
<body class="m-0 surface-ground">
<div id="app-main">
	<div class="flex flex-column h-screen m-0">
		<div class="flex-grow-0 surface-card text-color-secondary py-1">
			<div class="grid grid-nogutter align-items-center">
				<div class="logo col-fixed pl-1">DataGear</div>
				<div class="col text-right pr-2">
					<span class="vertical-align-super mr-1">管理员</span>
					<p-button type="button" @click="toggleTopMenu" aria-haspopup="true" aria-controls="overlay_menu" icon="pi pi-cog" class="p-button-secondary p-button-text p-button-rounded p-button-sm"></p-button>
					<p-contextmenu id="overlay_menu" ref="topMenuObj" :model="topMenuRef.items" :popup="true"></p-contextmenu>
				</div>
			</div>
		</div>
		<div class="flex-grow-1 p-0">
			<div class="grid h-full m-0 flex-nowrap">
				<div class="nav col-fixed px-0">
					<div class="grid grid-nogutter flex-column align-items-center p-card h-full">
						<div class="col-fixed">
							<p-button @click="toggleMainMenu" icon="pi pi-align-justify" class="p-button-secondary p-button-text p-button-sm opacity-40 my-1 p-1"></p-button>
						</div>
						<div class="col">
							<p-tabmenu :model="mainMenuRef.items" v-model:active-index="mainMenuRef.active" class="vertical-tabmenu" :class="{collapse: mainMenuRef.collapse}"></p-tabmenu>
						</div>
					</div>
				</div>
				<div class="content col overflow-auto">
					<div v-show="mainMenuRef.active == 0" class="p-card w-full h-full p-3 ">数据源</div>
					<div v-show="mainMenuRef.active == 1" class="p-card w-full h-full p-3">项目</div>
					<div v-show="mainMenuRef.active == 2" class="p-card w-full h-full p-3">数据集</div>
					<div v-show="mainMenuRef.active == 3" class="p-card w-full h-full p-3">图表</div>
					<div v-show="mainMenuRef.active == 4" class="p-card w-full h-full p-3">
						<div class="grid align-items-center">
							<div class="col-12 md:col-3">
								<form action="#">
									<div class="p-inputgroup">
											<p-inputtext type="text" v-model="value1"></p-inputtext>
											<p-button type="submit" icon="pi pi-search" />
									</div>
								</form>
							</div>
							<div class="h-opts col-12 md:col-9 text-right">
								<p-button label="添加"></p-button>
								<p-button label="编辑"></p-button>
								<p-button class="p-button-danger">删除</p-button>
							</div>
						</div>
						<div style="height:500px;">
							<p-datatable :value="productRef.items" :scrollable="true" scroll-height="flex"
								:paginator="true" paginator-template="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
								:rows="10"
								current-page-report-template="{first}-{last} / {totalRecords}"
								:rows-per-page-options="[10,20,50,100]"
								v-model:selection="productRef.selecteds" selection-mode="multiple" dataKey="id"
								striped-rows>
								<p-column selection-mode="multiple" header-style="width:3em"></p-column>
								<p-column field="id" header="ID" :sortable="true"></p-column>
								<p-column field="name" header="名称" :sortable="true"></p-column>
								<p-column field="category" header="项目"></p-column>
								<p-column field="quantity" header="创建用户"></p-column>
							</p-datatable>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="module">
const { createApp, ref } = Vue;

const App =
{
	setup()
	{
		const mainMenuRef = ref(
		{
			active: 4,
			collapse: false,
			items:
			[
				{
					label: '数据源',
					icon: 'pi pi-fw pi-database',
					url: "test.html",
					command: function(e){ e.originalEvent.preventDefault(); }
				},
				{
					label: '项目',
					icon: 'pi pi-fw pi-folder',
					command: function(e){ e.originalEvent.preventDefault(); }
				},
				{
					label: '数据集',
					icon: 'pi pi-fw pi-table',
					command: function(e){ e.originalEvent.preventDefault(); }
				},
				{
					label: '图表',
					icon: 'pi pi-fw pi-chart-line',
					command: function(e){ e.originalEvent.preventDefault(); }
				},
				{
					label: '看板',
					icon: 'pi pi-fw pi-images',
					command: function(e){ e.originalEvent.preventDefault(); }
				}
			]
		});
		const toggleMainMenu = function()
		{
			mainMenuRef.value.collapse = !mainMenuRef.value.collapse;
		};

		const productRef = ref(
		{
			items:
			[
				{"id": "1000","code": "f230fh0g3","name": "Bamboo Watch","description": "Product Description","image": "bamboo-watch.jpg","price": 65,"category": "Accessories","quantity": 24,"inventoryStatus": "INSTOCK","rating": 5},
				{"id": "1001","code": "nvklal433","name": "Black Watch","description": "Product Description","image": "black-watch.jpg","price": 72,"category": "Accessories","quantity": 61,"inventoryStatus": "INSTOCK","rating": 4},
				{"id": "1002","code": "zz21cz3c1","name": "Blue Band","description": "Product Description","image": "blue-band.jpg","price": 79,"category": "Fitness","quantity": 2,"inventoryStatus": "LOWSTOCK","rating": 3},
				{"id": "1003","code": "244wgerg2","name": "Blue T-Shirt","description": "Product Description","image": "blue-t-shirt.jpg","price": 29,"category": "Clothing","quantity": 25,"inventoryStatus": "INSTOCK","rating": 5},
				{"id": "1004","code": "h456wer53","name": "Bracelet","description": "Product Description","image": "bracelet.jpg","price": 15,"category": "Accessories","quantity": 73,"inventoryStatus": "INSTOCK","rating": 4},
				{"id": "1005","code": "av2231fwg","name": "Brown Purse","description": "Product Description","image": "brown-purse.jpg","price": 120,"category": "Accessories","quantity": 0,"inventoryStatus": "OUTOFSTOCK","rating": 4},
				{"id": "1006","code": "bib36pfvm","name": "Chakra Bracelet","description": "Product Description","image": "chakra-bracelet.jpg","price": 32,"category": "Accessories","quantity": 5,"inventoryStatus": "LOWSTOCK","rating": 3},
				{"id": "1007","code": "mbvjkgip5","name": "Galaxy Earrings","description": "Product Description","image": "galaxy-earrings.jpg","price": 34,"category": "Accessories","quantity": 23,"inventoryStatus": "INSTOCK","rating": 5},
				{"id": "1008","code": "vbb124btr","name": "Game Controller","description": "Product Description","image": "game-controller.jpg","price": 99,"category": "Electronics","quantity": 2,"inventoryStatus": "LOWSTOCK","rating": 4},
				{"id": "1009","code": "cm230f032","name": "Gaming Set","description": "Product Description","image": "gaming-set.jpg","price": 299,"category": "Electronics","quantity": 63,"inventoryStatus": "INSTOCK","rating": 3},
				{"id": "1010","code": "sbvjkgip5","name": "Galaxy Earrings","description": "Product Description","image": "galaxy-earrings.jpg","price": 34,"category": "Accessories","quantity": 23,"inventoryStatus": "INSTOCK","rating": 5},
				{"id": "1011","code": "gbb124btr","name": "Game Controller","description": "Product Description","image": "game-controller.jpg","price": 99,"category": "Electronics","quantity": 2,"inventoryStatus": "LOWSTOCK","rating": 4},
				{"id": "1012","code": "um230f032","name": "Gaming Set","description": "Product Description","image": "gaming-set.jpg","price": 299,"category": "Electronics","quantity": 63,"inventoryStatus": "INSTOCK","rating": 3}
			],
			selecteds: []
		});

		const topMenuRef = ref(
		{
			items:
			[
				{
					label: "个人设置"
				},
				{
					separator: true
				},
				{
					label: "切换肤色",
					items:
					[
						{
							label: "浅色"
						},
						{
							label: "暗色"
						},
						{
							label: "绿色"
						},
						{
							label: "紫色"
						}
					]
				},
				{
					label: "切换语言",
					items:
					[
						{
							label: "中文"
						},
						{
							label: "英文"
						}
					]
				},
				{
					label: "帮助",
					items:
					[
						{
							label: "关于"
						},
						{
							label: "文档"
						},
						{
							label: "版本日志"
						},
						{
							label: "下载最新版"
						}
					]
				},
				{
					separator: true
				},
				{
					label: "退出",
					class: "p-error"
				}
			]
		});
		const topMenuObj = ref();
		const toggleTopMenu = function()
		{
			topMenuObj.value.toggle(event);
		};
		
		return { mainMenuRef, toggleMainMenu, productRef, topMenuRef, topMenuObj, toggleTopMenu };
	},
	components:
	{
		"p-tabmenu": primevue.tabmenu,
		"p-button": primevue.button,
		"p-card": primevue.card,
		"p-datatable": primevue.datatable,
		"p-column": primevue.column,
		"p-inputtext": primevue.inputtext,
		"p-contextmenu": primevue.contextmenu
	}
};

createApp(App).use(primevue.config.default).mount("#app-main");
</script>
</body>
</html>