/**
    Name:       custom default theme
    From IntelliJ custom by JetBrains
 */

.cm-s-custom span.cm-meta { color: #808000; }
.cm-s-custom span.cm-number { color: #0000FF; }
.cm-s-custom span.cm-keyword { line-height: 1em; font-weight: bold; color: #000080; }
.cm-s-custom span.cm-atom { font-weight: bold; color: #000080; }
.cm-s-custom span.cm-def { color: #000000; }
.cm-s-custom span.cm-variable { color: black; }
.cm-s-custom span.cm-variable-2 { color: black; }
.cm-s-custom span.cm-variable-3, .cm-s-custom span.cm-type { color: black; }
.cm-s-custom span.cm-property { color: black; }
.cm-s-custom span.cm-operator { color: black; }
.cm-s-custom span.cm-comment { color: #808080; }
.cm-s-custom span.cm-string { color: #008000; }
.cm-s-custom span.cm-string-2 { color: #008000; }
.cm-s-custom span.cm-qualifier { color: #555; }
.cm-s-custom span.cm-error { color: #FF0000; }
.cm-s-custom span.cm-attribute { color: #0000FF; }
.cm-s-custom span.cm-tag { color: #000080; }
.cm-s-custom span.cm-link { color: #0000FF; }
.cm-s-custom .CodeMirror-activeline-background { background: #FFFAE3; }

.cm-s-custom span.cm-builtin { color: #30a; }
.cm-s-custom span.cm-bracket { color: #cc7; }
.cm-s-custom  { font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;}


.cm-s-custom .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }

.CodeMirror-hints.custom {
  background-color: #fff !important;
  border: 1px solid #dddddd;
  color: #000080;
  -webkit-box-shadow: 0px 0px 5px #666666;
  box-shadow: 0px 0px 5px #666666;
}
.CodeMirror-hints.custom .CodeMirror-hint{
	color: #000080;
}
.CodeMirror-hints.custom .CodeMirror-hint-active {
  background-color: #ededed !important;
  color: #000080 !important;
}