/*
 * Copyright 2018 datagear.tech. All Rights Reserved.
 */

@CHARSET "UTF-8";

body{
	margin: 0;
	padding: 0;
	font-family: inherit;/*使用系统默认字体，ui库里某些字体对中文支持有问题，导致selectmenu渲染中文条目高度不一致而出现切换闪动*/
}
.small-text{
	font-size:small;
}
.minor{
	opacity: 0.7;
	filter: Alpha(Opacity=70);
}

a.link,
a.link:link,
a.link:visited,
a.link:active{
	color: #333333;
	text-decoration: none;
}
a.link:hover{
	color: #003eff;
	text-decoration: none;
}

.fill-parent{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*表单*/
form{}
form .form-head{}
form .form-content{}
form .form-content .form-item{
	padding: .3em 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	min-width: 10em;
}
form .form-content .form-item .form-item-label{
	display: inline-block;
	width: 19%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
form .form-content .form-item .form-item-label label{
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
	display: inline-block;
	width: 95%;
	overflow: hidden;
}
form .form-content .form-item .form-item-value{
	display: inline-block;
	width: 80%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: middle;
}
form .form-content .form-item .form-item-value.text-value{}
form .form-content .form-item .form-item-value.textarea-value{}
form .form-content .form-item .form-item-value.select-value{}
form .form-content .form-item .form-item-value.file-value{}
form .form-content .form-item .form-item-value.single-value{}
form .form-content .form-item .form-item-value.multiple-value{}
form .form-content .form-item .form-item-value input[type=text],
form .form-content .form-item .form-item-value input[type=password],
form .form-content .form-item .form-item-value textarea,
form .form-content .form-item .form-item-value .input{
	margin-right: 0.3em;/*文本框与后面按钮间距*/
	width: 50%;
	vertical-align: middle;
}
form .form-content .form-item .form-item-value input[type=text],
form .form-content .form-item .form-item-value input[type=password]{
	height: 1.5em;
}
form .form-content .form-item .form-item-value textarea{
	width: 60%;
	height: 5em;
}
form .form-content .form-item .form-item-value .file-input-show{/*文件展示文本*/
}
form .form-content .form-item .form-item-value .file-info{/*展示上传文件信息元素*/
	display: inline-block;
	margin-left: 0.5em;
}
form .form-content .form-item .form-item-value .file-info .upload-percent{
	display: inline-block;
	margin-right: 0.5em;
}
form .form-content .form-item .form-item-value .file-info .file-name{
	display: inline-block;
}
form .form-content .form-item .form-item-value .file-info .file-size{
	display: inline-block;
	margin-left: 0.3em;
}
form .form-content .form-item .form-item-value .file-info .file-delete{
	margin-left: 0.5em;
	cursor: pointer;
}
form .form-content .form-item label.error{
	color: red;
	padding-left: 0.2em;
}
form .form-content .form-item .form-item-value input[type=text].error,
form .form-content .form-item .form-item-value input[type=password].error,
form .form-content .form-item .form-item-value textarea.error{
	border: 1px solid red;
}
form .form-content .form-item .input-desc{
	display: inline-block;
}
form .form-content .form-item .input-desc-date{
	
}
form .form-foot{
	text-align: center;
	padding-top: .5em;
}
form .form-foot .form-operation{
	display: inline-block;
}
form .form-foot .form-operation.form-operation-batch-set{
	position: relative;
	padding-right: 16px;
}
form .form-foot .form-operation.form-operation-batch-set .batch-set-switch{
	cursor: pointer;
	opacity: 0.5;
	filter: Alpha(Opacity=50);
}
form .form-foot .form-operation.form-operation-batch-set .batch-set-panel{
	position: absolute;
	left: -23em;
	top: 0.4em;
	display: inline-block;
	opacity: 0.7;
	filter: Alpha(Opacity=70);
}
form .form-foot .form-operation.form-operation-batch-set .batch-set-panel label{
	margin-left: 1em;
	margin-right: 0.41em;
}
form .form-foot .form-operation.form-operation-batch-set .batch-set-panel .batch-set-count{
	width: 3em;
}
form .form-foot .form-operation.form-operation-batch-set .batch-set-panel .batch-set-count.error{
	color: red;
	border-color: red;
}
form .form-foot .ui-button{
	margin-left: .5em;
	margin-right: .5em;
}

/*首选操作按钮*/
.ui-button.recommended{
	border: 1px solid #0066ff;
	background-color: #4a97ff;
	color: #ffffff;
}
.ui-button.recommended:hover, .ui-button.recommended:focus{
	border: 1px solid #0066ff;
	background-color: #338aff;
	color: #ffffff;
}
.ui-button.recommended:active{
	border: 1px solid #003eff;
	background-color: #007FFF;
	color: #ffffff;
}

/*高亮按钮*/
.ui-button.highlight{
	background-color: #dddddd;
	border: 1px solid #b2b2b2;
}
.ui-button.highlight:hover, .ui-button.highlight:focus{
	background-color: #e7e7e7;
}
.ui-button.highlight:active{
	background-color: #007fff;
}

/*对话框*/
.ui-dialog .dialog-titlebar-pin{
	position: absolute;
    right: 2.0em;
    top: 50%;
    width: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
}
.ui-dialog .ui-dialog-title .ui-icon{
	margin-right: 0.3em;
}
/*可保持ui-state-active状态组件样式，默认图标是灰色，这了改成白色*/
.stated-active.ui-state-active .ui-icon, .stated-active.ui-state-active:focus .ui-icon, .stated-active.ui-state-active:hover .ui-icon{
    background-image: url(default/jquery-ui-1.12.1/images/ui-icons_ffffff_256x240.png);
}

/*jquery-ui*/
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button{
	font-family: inherit;/*使用系统默认字体，ui库里某些字体对中文支持有问题，导致selectmenu渲染中文条目高度不一致而出现切换闪动*/
}
.ui-menu .ui-menu-item-wrapper{
	padding: .4em 1em;/*菜单条目扩大*/
}
.ui-controlgroup.ui-controlgroup-horizontal{
	padding-left: 1px;/*横向边框重叠*/
}
.ui-controlgroup.ui-controlgroup-horizontal .ui-controlgroup-item{
	margin-left: -1px;/*横向边框重叠*/
}
.ui-controlgroup .ui-button-icon-only{
	width: 1em;/*减小图标宽度*/
}
.ui-controlgroup .ui-button-icon-only .ui-icon{
	top: 30%;/*图标按钮，上下居中*/
}
.ui-tabs .ui-tabs-panel{
	padding: 0.5em 0.7em;
}

/*选项卡卡片更多操作面板、和更多卡片面板*/
.ui-tabs .tabs-more-tab-button{
	position: absolute;
	top: 1em;
	right: 6px;
	cursor: pointer;
	width: 16px;
    height: 16px;
    border: none;
    padding: 0 0;
}
.ui-tabs .tab-operation{
	display: inline-block;
	width: 16px;
}
.ui-tabs .tab-operation .tabs-more-operation-button{
	float: left;
	text-align: center;
	cursor: pointer;
	width: 16px;
	height: 16px;
}
.ui-tabs .ui-tabs-nav .tab-operation .ui-icon{
	cursor: pointer;
}
.ui-tabs .tabs-more-operation-menu.ui-menu,
.ui-tabs .tabs-more-tab-menu.ui-menu{
	padding: 0.2em 0.2em;
}
.ui-tabs .tabs-more-tab-menu.ui-menu{
	max-height: 20em;
	overflow: auto;
}
.ui-tabs .tabs-more-operation-menu.ui-menu .ui-menu-item,
.ui-tabs .tabs-more-tab-menu.ui-menu .ui-menu-item{
	font-size: small;
}

/*jquery.layout*/
.ui-layout-pane{
	border: 1px solid #c5c5c5;
}
.ui-layout-resizer{
	background-color: #ededed;
}
.ui-layout-resizer-open-hover, .ui-layout-resizer-dragging{
	background: #ededed;
}
.ui-layout-resizer-dragging{
	border-width: 0px;
}
.ui-layout-toggler{
	border-width: 0px;
}
.ui-layout-toggler-hover, .ui-layout-resizer-hover .ui-layout-toggler-hover{
	/*background-color: #007fff;*/
}

/*jstree*/
/*将jstree图标改为jquery-ui*/
.jstree-default .jstree-node,
.jstree-default .jstree-initial-node{
	margin-top: 2px;
	position: relative;
}
.jstree-default .jstree-hovered,
.jstree-default .jstree-clicked, .jstree-default .jstree-clicked.jstree-hovered{
	border-radius: 3px;
}
.jstree-default .jstree-anchor{
	padding: 0.2em 0.3em 0.2em 0.1em;
	margin-left: 28px;
	line-height: 1.6em;
	height: 1.6em;
	position: relative;
}
.jstree-default .jstree-icon:empty, .jstree-default .jstree-icon{
	width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    background-repeat: no-repeat;
    margin-top: -3px;
}
 .jstree-default .jstree-node > .jstree-icon{
    position: absolute;
    top: 1em;
    margin-top: -8px;
    margin-left: 0.3em;
 }
.jstree-default .jstree-anchor > .jstree-icon{
	margin-left: 0;
}
.jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl{
	background-position: -32px -16px;
}
.jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl{
	background-position: -48px -16px;
}
.jstree-default > .jstree-no-dots .jstree-loading > .jstree-ocl{
	background-position: -176px -64px;
}
.jstree-default .jstree-themeicon{
	background-position: 0 -96px;
}
.jstree-default .jstree-leaf .jstree-themeicon{
	background-position: -32px -96px;
}
.jstree-default .jstree-leaf.view-node .jstree-themeicon{
	background-position: -112px -112px;
}
.jstree-default .jstree-leaf.next-page-node .jstree-themeicon{
	background-position: -65px 0px;
}
.jstree-default .jstree-anchor > .jstree-themeicon-hidden{
	background-image: none;
}

/*Datatables*/
.dataTable th, .dataTable tr {   
    white-space: nowrap !important;  
}
.dataTables_wrapper .ui-toolbar{
	display: none;
}
table.dataTable.no-footer{
	border-bottom: none;
}
table.dataTable thead th,
table.dataTable tfoot th{
	font-weight: normal;
}
table.dataTable thead .display-info-token{
	font-weight: bold;
}
table.dataTable .column-check{
	text-align: center;
	padding-left: 0.8em;
	padding-right: 0.8em;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	position: relative;
}
table.dataTable thead tr .column-check{
	cursor: pointer;
}
table.dataTable tbody tr .checkbox{
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	text-align: center;
}
table.dataTable tbody tr .checkbox .ui-icon{
	background-image: none;
	margin-top: -9px;
}
table.dataTable tbody tr.selected .checkbox .ui-icon{
}
table.dataTable tbody th, table.dataTable tbody td{
	padding: 0 0.5em;
	height: 2.5em;
}
table.dataTable tbody tr td.cell-modified{
	position: relative;
}
table.dataTable tbody tr td.cell-modified .cell-midified-tip{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 16px;
	height: 16px;
}
table.dataTable tbody tr td.cell-modified .cell-midified-tip.ui-state-error{
    border-width: 0px;
    background: none;
}
table.dataTable tbody tr .column-check .row-data-state{
	position: absolute;
	display: inline-block;
	width: 16px;
	height: 16px;
	left: 0.2em;
	top: 50%;
	margin-top: -10px;
}
table.dataTable tbody tr .column-check .row-data-state{
	display: none;
}
table.dataTable tbody tr.add-row .column-check .row-data-state,
table.dataTable tbody tr.delete-row .column-check .row-data-state{
	display: inline-block;
}
table.dataTable tbody tr .column-check .row-data-state.ui-state-error{
    border-width: 0px;
    background: none;
}
table.dataTable tbody tr .column-check .row-data-state .ui-icon{
	margin-top: 0px;
	vertical-align: top;
}
.minor-dataTable table.dataTable thead .display-info-token{
	font-weight: normal;
}
.minor-dataTable table.dataTable thead th,
.minor-dataTable table.dataTable thead td{
	padding: 5px 9px;
	font-size: 90%;
}
.minor-dataTable table.dataTable tbody th, table.dataTable tbody td{
	height: 2.2em;
}
.minor-dataTable table.dataTable thead th div.DataTables_sort_wrapper span{
	right: -9px;
}

/*jquery-steps*/
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active{
	padding: 0.6em 1em;
	border-radius: 3px;
}
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active{
	opacity: 0.6;
	filter: Alpha(Opacity=60);
}
.wizard > .content{
	min-height: 10em;
	background: none;
	margin: 0 0;
	border-radius: 3px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.wizard > .content > .body{
	padding: 0.5em 2%;
	width: 96%;
	height: 100%;
}
.wizard > .content > .body label{
	margin-bottom: inherit;
}
.wizard > .steps .number{
	font-size: 1.2em;
}
.wizard > .actions{
	text-align: center;
}
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active{
	padding: 0.5em 3em;
	border-radius: 3px;
}

/*编辑表格表单页面*/
.page-edit-grid-form{
	position: absolute;
	opacity: 0.7;
	filter: Alpha(Opacity=70);
}
.page-edit-grid-form.focus{
	opacity: 1;
	filter: Alpha(Opacity=100);
}
.page-edit-grid-form .form-panel{
	display: inline-block;
	z-index: 1;
	padding: 1px 1px;
}
.page-edit-grid-form .form-panel .form-panel-title{
	height: 0.6em;
}
.page-edit-grid-form .form-panel .form-panel-foot{
	height: 0.2em;
}
.page-edit-grid-form .form-panel .form-panel-dragger{
    cursor: move;
}
.page-edit-grid-form .form-panel .form-panel-title .close-icon{
	float: right;
	cursor: pointer;
	opacity: 0.7;
	filter: Alpha(Opacity=70);
}
.page-edit-grid-form .form-panel form{
	padding: 0.41em 0.41em;
}
.page-edit-grid-form .form-panel form .form-operation input[type='reset']{
	display: none;
}
.page-edit-grid-form .form-panel form.hide-form-label .form-content .form-item .form-item-label{
	display: none;
}
.page-edit-grid-form .form-panel form.hide-form-label .form-content .form-item .form-item-value{
	width: 99%;
}
.page-edit-grid-form .form-panel form.hide-form-label .form-content .form-item .form-item-value.text-value input[type='text']{
	width: 60%;
}
.page-edit-grid-form .form-panel form.hide-form-label .form-content .form-item .form-item-value.textarea-value textarea{
	width: 70%;
}


/*提示框*/
.ui-tooltip{
	max-width: unset;/*取消宽度限制*/
}
.ui-tooltip .ui-tooltip-content a{
	font-weight: bold;
	margin-left: 0.3em;
	margin-right: 0.3em;
}
.ui-tooltip .ui-tooltip-content .tooltip-icon{
	margin-right: 0.41em;
}
.ui-tooltip .ui-tooltip-content .message-detail-icon{
	cursor: pointer;
	margin-left: 1em;
}
.ui-tooltip .ui-tooltip-content .content{
	padding-left:0.5em;
	padding-right:0.5em;
	white-space: nowrap;
}
.ui-tooltip .ui-tooltip-content .content .content-value{
	display: inline-block;
}
.ui-tooltip .ui-tooltip-content .content .content-value .content-value-sub{
	display: inline-block;
	max-width: 41em;
	vertical-align: bottom;
	overflow: hidden;
}

/*操作消息对话框*/
.operation-message-dialog{
}
.operation-message-dialog .message-detail{
	display: inline-block;
	width: 100%;
	height: 98%;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: auto;
}
.operation-message-dialog .message-detail pre{
	margin: 0;
}
.operation-message-dialog .message-detail .message-detail-item{
	padding: 0.2em 0;
	white-space: nowrap;
}

/*确认对话框*/
.dialog-confirm{}
.dialog-confirm .ui-icon-alert{
	margin-right: 0.5em;
}
.dialog-confirm .confirm-content{
	display: inline-block;
}

/**轻型菜单，初始只有图标*/
.lightweight-menu,
.ui-menu.lightweight-menu{
	list-style: none;
	display: inline-block;
	border: 0;
	padding: 0;
    margin: 0;
    outline: 0;
    background: none;
}
.lightweight-menu li,
.ui-menu.lightweight-menu li{
	white-space: nowrap;
}
.lightweight-menu > li,
.ui-menu.lightweight-menu > li{
	display: inline-block;
	padding: 0 0;
	margin: 0 0;
}
.lightweight-menu li a,
.ui-menu.lightweight-menu li a{
	text-decoration: none;
    width: 100%;
    text-align: left;
}
.lightweight-menu > li .ui-menu-item-wrapper,
.ui-menu.lightweight-menu > li .ui-menu-item-wrapper{
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.lightweight-menu > li > .ui-menu-item-wrapper,
.ui-menu.lightweight-menu > li > .ui-menu-item-wrapper{
	display: inline-block;
	margin: 0 0;
	padding: 0 0;
}
.lightweight-menu > li .ui-menu-item-wrapper .ui-menu-icon,
.ui-menu.lightweight-menu > li .ui-menu-item-wrapper .ui-menu-icon{
	display: none;
}

/*错误页*/
.page-error{
	padding-top: 2em;
	text-align: center;
}

.page-register-success .register-success-content{
	margin-top: 5em;
	text-align: center;
	font-size: large;
}
.page-register-success .register-success-content a{
	margin: 0 0.3em;
	font-weight: bold;
}

/*主页*/
.ui-layout-pane{
}
.ui-layout-west.ui-layout-pane{
	padding: 1px 1px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-left-width: 0;
	border-bottom-width: 0;
}
.ui-layout-center.ui-layout-pane{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-right-width: 0;
	border-bottom-width: 0;
}
.main-page-head{
	display: inline-block;
	width: 100%;
	height: 1.6em;
	padding-top: 1px;
	padding-bottom: 1px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.main-page-head .logo{
	float: left;
    vertical-align: middle;
	margin-left: 0.1em;
	margin-top: 0.1em;
}
.main-page-head .logo .logo-content{
	font-size: small;
	font-weight: bold;
	opacity: 0.7;
	filter: Alpha(Opacity=70);
}
.main-page-head .toolbar{
	float: right;
	text-align: right;
	vertical-align: middle;
	margin-right: 0.2em;
}
/**系统设置图标*/
.main-page-head .toolbar #systemSetMenu{
	float:left;
	margin-right: 0.5em;
}
.main-page-head .toolbar #systemSetMenu > li,
.main-page-head .toolbar #systemSetMenu > li > .ui-menu-item-wrapper{
	width: 1.3em;
	height: 1.3em;
}
.main-page-head .toolbar #systemSetMenu > li > .ui-menu-item-wrapper .ui-icon{
	left: 0px;
}
.main-page-head .toolbar #systemSetMenu .theme-sample{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-left: 0.5em;
}
.main-page-head .toolbar #systemSetMenu .theme-sample-lightness{
	background: #FFFFFF;
}
.main-page-head .toolbar #systemSetMenu .theme-sample-dark{
	background: #000000;
}
.main-page-head .toolbar #systemSetMenu .theme-sample-green{
	background: #285c00;
}
.main-page-head .toolbar .user-name{
	display: inline-block;
	font-weight: bold;
}
.main-page-head .toolbar .link{
	margin-left: 0.5em;
}
.main-page-content{
	position: absolute;
	top: 1.6em;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.main-page-content .schema-panel{
	display: inline-block;
	width: 100%;
	height: 100%;
	border: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.main-page-content .schema-panel .schema-panel-head{
	display: inline-block;
	width: 100%;
	min-width: 15em;
	height: 2.5em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-top: 0.3em;
}
.main-page-content .schema-panel .schema-panel-head .schema-panel-title{
	display: inline-block;
	width: 30%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    white-space: nowrap;
}
.main-page-content .schema-panel .schema-panel-head .schema-panel-operation{
	display: inline-block;
	width: 68%;
	float: right;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
	text-align: right;
}
.main-page-content .schema-panel .schema-panel-head .schema-panel-operation .search{
	position: absolute;
	left: 0;
	right: 4em;
}
.main-page-content .schema-panel .schema-panel-head .schema-panel-operation .search form{
	position: relative;
}
.main-page-content .schema-panel .schema-panel-head .schema-panel-operation .search .schema-search-switch{
	display: inline-block;
	float: left;
	opacity: 0.6;
	filter: Alpha(Opacity=60);
	cursor: pointer;
}
.main-page-content .schema-panel .schema-panel-head .schema-panel-operation .search .keyword-input-parent{
	position: absolute;
	left: 16px;
	right: 1.4em;
	top: 0;
	bottom: 0;
	font-size: small;
}
.main-page-content .schema-panel .schema-panel-head .schema-panel-operation .search .keyword-input-parent .keyword-input{
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0 0;
}
.main-page-content .schema-panel .schema-panel-head .schema-panel-operation .search .search-button.ui-button{
	border: 0px;
	width: 1.4em;
	height: 1.4em;
	margin: 0 0;
	margin-top: -0.2em;
	padding-left: 0;
	padding-right: 0;
}
.main-page-content .schema-panel .schema-panel-head .schema-panel-operation .search .search-button .ui-icon{
	opacity: 0.6;
	filter: Alpha(Opacity=60);
}
.main-page-content .schema-panel .schema-panel-head .schema-panel-operation .add-schema-button{
	border: 0px;
	width: 2em;
	height: 1.5em;
	margin-right: 1px;
}
.main-page-content .schema-panel .schema-panel-head .schema-panel-operation #schemaOperationMenu{
	float: right;
}
.main-page-content .schema-panel .schema-panel-head .schema-panel-operation #schemaOperationMenu > li > .ui-menu-item-wrapper{
	width: 1.5em;
	height: 1.5em;
    margin-top: 1px;
}
.main-page-content .schema-panel .schema-panel-content{
	position: absolute;
    display: block;
    top: 2.5em;
    bottom: 0em;
    left: 0em;
    right: 0em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-top: 0.2em;
	overflow-x: auto;
	overflow-y: auto;
}
/*树结构中的更多表节点*/
.main-page-content .schema-panel .schema-panel-content .more-table{
	font-weight: bold;
	font-style: italic;
}
.main-page-content .main-tabs{
    position: absolute;
    display: block;
    top: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    right: 0.5em;
    min-height: 20em;
}
.main-page-content .main-tabs .ui-tabs-nav{
	height: 2.3em;
	overflow: hidden;
	padding-right: 25px;
}
.main-page-content .main-tabs .ui-tabs-nav .category-bar{
    position:  absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    border: none;
}
.main-page-content .main-tabs .ui-tabs-panel{
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    overflow: auto;
}

/*驱动信息管理表单页*/
.page-form-driverEntity{
}
.page-form-driverEntity .driver-files{
	display: inline-block;
	height: 8em;
	overflow: auto;
	padding: 3px 2px;
}
.page-form-driverEntity .driver-files .driver-file{
	margin-bottom: 5px;
	padding: 2px 2px;
	white-space: nowrap;
	overflow: hidden;
}
.page-form-driverEntity .driver-files .driver-file .driver-file-icon{
	cursor: pointer;
	margin-right: 0.2em;
}
.page-form-driverEntity .driver-files .driver-file .driver-file-info{
	white-space: nowrap;
	overflow: hidden;
}
.page-form-driverEntity .driver-upload-parent{
	display: inline-block;
	vertical-align: top;
	margin-left: 0.2em;
}
/*驱动程序导入表单页*/
.page-form-driverEntityImport{
}
.page-form-driverEntityImport .driver-entity-infos{
	display: inline-block;
	height: 15em;
	overflow: auto;
	padding: 3px 2px;
}
.page-form-driverEntityImport .driver-entity-infos .driver-entity-item{
	margin-bottom: 5px;
	padding: 2px 2px;
	white-space: nowrap;
	overflow: hidden;
}
.page-form-driverEntityImport .driver-entity-infos .driver-entity-item .ui-icon-close{
	cursor: pointer;
	margin-right: 0.2em;
}
.page-form-driverEntityImport .driver-entity-infos .driver-entity-item .driver-entity-info{
	white-space: nowrap;
	overflow: hidden;
}

/*表单页*/
.page-form{
}

/*查询表单*/
.search-form{
	position: relative;
}
.search-form .keyword-widget{
	display: inline-block;
	width: 70%;
	height: 2em;
	margin-left: 0.1em;
	vertical-align: middle;
	position: relative;
}
.search-form .keyword-widget .like-switch-icon.ui-icon{
	cursor: pointer;
	margin-top: 0.2em;
}
.search-form .keyword-widget .keyword-input-parent{
	position: absolute;
	left: 18px;
	right: 0;
	top: 0;
	bottom: 0;
}
.search-form .keyword-widget.simple .keyword-input-parent{
	left: 0;
}
.search-form .keyword-widget .keyword-input-parent .keyword-input{
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 0;
    margin: 0 0;
}
.search-form .search-condition-icon-parent{
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.search-form .search-condition-icon{
}
.search-form .search-condition-icon-tip{
	position: absolute;
	display: none;
	left: 0px;
	top: 12px;
}
.search-form .condition-panel-parent{
	position: relative;
	width: 90%;
}
.search-form .condition-panel-parent .condition-panel{
	display: inline-block;
	width: 120%;
	height: 14em;
	z-index: 2;
	margin-left: 0.1em;
	padding: 2px 2px;
	position: relative;
}
.search-form .condition-panel-parent .condition-panel .condition-panel-title-bar{
	text-align: right;
	height: 16px;
	cursor: move;
}
.search-form .condition-panel-parent .condition-panel .condition-panel-title-bar .condition-panel-resetpos-icon.ui-icon{
	margin-top: -0.6em;
}
.search-form .condition-panel-parent .condition-panel .ui-icon{
	cursor: pointer;
}
.search-form .condition-panel-parent .condition-panel .condition-parent{
	position: absolute;
	top: 21px;
	bottom: 21px;
	left: 3px;
	right: 3px;
	display: inline-block;
}
.search-form .condition-panel-parent .condition-panel .condition-parent textarea{
	display: inline-block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	resize: none;
	position: relative;
}
.search-form .condition-panel-parent .condition-panel .condition-action{
	position: absolute;
	left: 2px;
	bottom: 2px;
	right: 25px;
	height: 16px;
	font-size: 8px;
}
.search-form .condition-panel-parent .condition-panel .condition-panel-submit-icon.ui-icon{
	float: right;
	margin-top: 0;
}
.ui-dialog .search-form .condition-panel .ui-resizable-se{
	width: 16px;
	height: 16px;
}
.search-form .ui-autocomplete{
    max-height: 8em;
    max-width: 20em;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0.8em;
}

/*表格页*/
.page-grid{
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 10em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.page-grid .head{
	height: 2.5em;
	padding: .25em 0;
}
.page-grid .head .search{
	display: inline-block;
	width: 41%;
}
.page-grid .head .operation{
	display: inline-block;
	float: right;
	width: 57%;
	text-align: right;
}
.page-grid .content{
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	top: 3em;
	bottom: 2.6em;
}
.page-grid.page-grid-hidden-foot .content{
	bottom: 0em;
}
.page-grid .foot{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2.6em;
	display: inline-block;
	padding: 0 0;
}
.page-grid.page-grid-hidden-foot .foot{
	height: 0;
}
.page-grid .foot .pagination-wrapper{
	display: inline-block;
	float: right;
	width: 90%;
	height: 100%;
	position: relative;
}
.page-grid .foot .pagination-wrapper .pagination{
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0.1em;
}
.page-grid .foot.foot-edit-grid .edit-grid{
	display: inline-block;
	width: 50%;
	position: absolute;
	bottom: 1px;
	left: 1px;
}
.page-grid .foot.foot-edit-grid .edit-grid .edit-grid-switch-wrapper{
	display: inline-block;
	position: absolute;
	font-size: small;
	bottom: 0;
	left: 0.1em;
}
.page-grid .foot.foot-edit-grid .edit-grid .edit-grid-operation{
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.page-grid .foot.foot-edit-grid .edit-grid .edit-grid-operation .ui-button{
	margin-left: 0.2em;
	margin-right: 0.2em;
}
.page-grid .foot.foot-edit-grid .edit-grid .edit-grid-operation .ui-button.button-save{
	padding-left: 3em;
	padding-right: 3em;
	margin-left: 2em;
}

.page-form-buildSchemaUrl .url-preview{
	margin-top: 1em;
	text-align: center;
	height: 2em;
	font-weight: bold;
}

.page-form-schemaUrlBuilder .form-item-value-scriptCode{
	display: block;
}
.page-form-schemaUrlBuilder .preview-script-code-button.ui-button{
	padding-left: 2em;
	padding-right: 2em;
}
.page-form-schemaUrlBuilder form .form-content .form-item .form-item-value textarea{
	vertical-align: top;
}
.page-form-schemaUrlBuilder form .form-content .form-item .form-item-value textarea.script-code-textarea{
	height: 22em;
}
.page-form-schemaUrlBuilder .script-code-note{
	display: inline-block;
	width: 35%;
	height: 22em;
	overflow: auto;
}
.page-form-schemaUrlBuilder .script-code-note span{
	white-space: nowrap;
}

.page-form-reset-password{
	position: absolute;
	width: auto;
	left: 9%;
	right: 9%;
}
.page-form-reset-password .head{
	margin-top: 1em;
	font-size: larger;
	font-weight: bold;
	text-align: center;
}
.page-form-reset-password .content .steps{
	margin-top: 2em;
	margin-bottom: 1em;
}
.page-form-reset-password .content .steps .step{
	display: inline-block;
	font-size: larger;
	width: 18%;
    margin-right: 2%;
    padding: 0.5em 2%;
}
.page-form-reset-password .content .form-content{
	height: 10em;
	padding: 2em 3em;
}
.page-form-reset-password .content .form-foot .ui-button{
	width: 14em;
}
.page-form-reset-password .content .form-content .step-finish-content{
	font-size: large;
}
.page-form-reset-password .content .form-content .step-finish-content a{
	margin: 0 0.3em;
	font-weight: bold;
}
.page-form-reset-password .content .form-content .skip-check-user-admin-warn{
	margin-top: 0.2em;
	padding: 0.3em 0.3em;
}
.page-form-reset-password .content .form-content .skip-check-user-admin-warn .ui-icon-info{
	margin-right: 0.3em;
}

.page-changelog form .form-content .form-item .form-item-label{
	text-align: center;
	width: 15%;
}
.page-changelog form .form-content .form-item-version{
	font-weight: bold;
}
.page-changelog .changelog-content{
	margin-left: 0px;
    padding-left: 1em;
    padding-top: 0px;
    margin-top: 0px;
}
.page-changelog .changelog-content .changelog-item{
	padding-top: 0.41em;
	padding-bottom: 0.41em;
}

/*sqlpad*/
.page-sqlpad{
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 10em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.page-sqlpad .button-operation button.ui-button-icon-only{
	height: 1.2em;
	width: 2.5em;
	margin-left: 0.5em;
	vertical-align: top;
	border: 0px;
}
.page-sqlpad .button-operation button.first{
	margin-left: 0.1em;
}
.page-sqlpad .button-operation .button-divider{
	display: inline-block;
    width: 1px;
    height: 1.2em;
    margin-right: 1em;
    margin-left: 1.5em;
    border-width: 0px;
    border-right-width: 1px;
	opacity: 0.8;
	filter: Alpha(Opacity=80);
}
.page-sqlpad .head{
	height: 1.2em;
	padding: 0.25em 0;
}
.page-sqlpad .head .sql-delimiter-input{
	width: 3.6em;
	height: 1.0em;
	vertical-align: top;
	padding-left: 0.2em;
	padding-right: 0.2em;
}
.page-sqlpad .head .more-operation-wrapper{
	float: right;
	width: 10%;
	text-align: right;
	position: relative;
}
.page-sqlpad .head .more-operation-wrapper #moreOperationButton{
	width: 1.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.page-sqlpad .head .more-operation-wrapper .more-operation-panel{
	position: absolute;
	right: 0.1em;
	top: 1.1em;
	width: 450%;
	text-align: left;
	padding: 0.41em 1em;
}
.page-sqlpad .head .more-operation-wrapper .more-operation-panel form .form-content .form-item .form-item-label{
	width: 35%;
}
.page-sqlpad .head .more-operation-wrapper .more-operation-panel form .form-content .form-item .form-item-value{
	width: auto;
}
.page-sqlpad .head .more-operation-wrapper .more-operation-panel .ui-checkboxradio-icon{
	display: none;
}
.page-sqlpad .content{
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	top: 1.7em;
	bottom: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.page-sqlpad .content .content-editor{
	position: relative;
	width: 100%;
	height: 65%;
	min-height: 10%;
	max-height: 90%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.page-sqlpad .content .content-editor .content-edit-content{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0.7em;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
}
.page-sqlpad .content .content-editor .content-edit-content .sql-editor{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.page-sqlpad .content .content-editor .ui-resizable-s{
	bottom: 0.2em;
	right: 0px;
	width: auto;
	height: 0.3em;
	font-size: inherit;
}
.page-sqlpad .content .content-result{
	position: relative;
	width: 100%;
	height: 35%;
	border-top-width: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.page-sqlpad .content .content-result .result-tabs{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.page-sqlpad .content .content-result .result-tabs.ui-tabs{
	margin: 0 0;
	padding: 0 0;
	border-width: 0;
}
.page-sqlpad .content .content-result .result-tabs.ui-tabs .ui-tabs-nav{
	margin: 0 0;
	padding: 0 0;
	padding-left: 0.1em;
	padding-right: 20em;
	overflow: hidden;
	height: 1.5em;
	background: none;
	border-width: 0;
	border-bottom-width: 1px;
	opacity: 0.85;
	filter: Alpha(Opacity=85);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.page-sqlpad .content .content-result .result-tabs.ui-tabs .ui-tabs-nav li{
}
.page-sqlpad .content .content-result .result-tabs.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	padding: 1px 36px 1px 0.8em;
}
.page-sqlpad .content .content-result .result-tabs.ui-tabs .ui-tabs-nav .ui-tabs-anchor.result-message-anchor{
	padding-right: 0.8em;
}
.page-sqlpad .content .content-result .result-tabs.ui-tabs .ui-tabs-nav li .tab-operation{
	position: absolute;
	right: 0px;
	width: 32px;
}
.page-sqlpad .content .content-result .result-tabs.ui-tabs .ui-tabs-nav li .tab-operation .tabs-more-operation-button{
	float: none;
	display: inline-block;
	height: 16px;
	vertical-align: middle;
    margin-top: -0.25em;
}
.page-sqlpad .content .content-result .result-tabs.ui-tabs .tabs-more-tab-button{
	top: 0.25em;
	right: 18em;
}
.page-sqlpad .content .content-result .result-operations{
	float: right;
	text-align: right;
}
.page-sqlpad .content .content-result .button-operation{
    padding-right: 0.2em;
	opacity: 0.8;
	filter: Alpha(Opacity=80);
}
.page-sqlpad .content .content-result .ui-tabs-panel{
	position: absolute;
	top: 1.6em;
	bottom: 0px;
	left:0px;
	right: 0px;
	border-width: 0px;
	padding: 0.3em 0.5em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.page-sqlpad .content .content-result .result-message{
	overflow: auto;
}
.page-sqlpad .content .content-result .result-message .execution-message{
	white-space: nowrap;
	padding-bottom: 0.2em;
}
.page-sqlpad .content .content-result .result-message .execution-message .message-time,
.page-sqlpad .content .content-result .result-message .execution-message .message-content{
	display: inline-block;
	opacity: 0.8;
	filter: Alpha(Opacity=80);
	white-space: nowrap;
}
.page-sqlpad .content .content-result .result-message .execution-message .message-time{
	margin-right: 0.5em;
}
.page-sqlpad .content .content-result .result-message .execution-message.execution-exception .message-content,
.page-sqlpad .content .content-result .result-message .execution-message .message-content.message-content-highlight{
	opacity: 0.9;
	filter: Alpha(Opacity=90);
}
.page-sqlpad .content .content-result .result-message .execution-message .message-content div{
	display: inline-block;
	margin-right: 0.41em;
}
.page-sqlpad .content .content-result .result-message .execution-message .message-content .sql-value{
	display: inline-block;
    width: 25em;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
    cursor: pointer;
    margin-right: 2em;
}
.page-sqlpad .content .content-result .result-message .execution-message .message-content .sql-exception-summary.has-detail{
	cursor: pointer;
}
.page-sqlpad .content .content-result .result-message .execution-message .message-content .sql-exception-detail{
	display: none;
}
.page-sqlpad .sql-exception-detail-panel{
	position: absolute;
	z-index: 99;
	right: 0px;
	bottom: 0px;
	display: none;
	width: 50%;
    height: 50%;
}
.page-sqlpad .sql-exception-detail-panel .sql-exception-detail-content-wrapper{
	float: left;
    width: 100%;
    height: 100%;
    position: relative;
}
.page-sqlpad .sql-exception-detail-panel .sql-exception-detail-content-wrapper .sql-exception-detail-content{
	position: absolute;
	top: 0.5em;
	bottom: 0.5em;
	left: 1em;
	right: 1em;
	overflow: auto;
}
.page-sqlpad .sql-result-tab-panel .no-more-data-flag{
	height: 0px;
	border-top-width: 2px;
	border-bottom-width: 3px;
	display: none;
}
.page-sqlpad .view-sql-statement-panel{
	position: absolute;
	left: 0;
	top: 0;
	width: 40%;
	height: 10em;
	padding: 0.3em 0.3em;
}
.page-sqlpad .view-sql-statement-panel .sql-content{
	width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    resize: none;
}
.page-sqlpad .view-long-text-result-panel{
	position: absolute;
	left: 0;
	top: 0;
	width: 40%;
	height: 10em;
	padding: 0.3em 0.3em;
}
.page-sqlpad .view-long-text-result-panel .long-text-content{
	width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    resize: none;
}
.page-sqlpad .foot{
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	height: 0;
}

/*data import*/
.page-dataimport{}
.page-dataimport .head{
	height: 1em;
}
.page-dataimport form{
	width: 80%;
}
.page-dataimport form .form-head{
	padding-top: 0.5em;
	padding-bottom: 1em;
	padding-left: 10%;
}
.page-dataimport form .form-content .form-item{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.page-dataimport form .form-content .form-item .form-item-label{
	width: 30%;
}
.page-dataimport form .form-content .form-item .form-item-value{
	width: 65%;
}
.page-dataimport form .form-content .form-item .input-desc{
	margin-left: 1em;
}
.page-dataimport form .ui-checkboxradio-label{
	width: 8em;
	text-align: left;
}
.page-dataimport form .form-foot{
	padding-top: 2em;
}
.page-dataimport form .form-foot button[type='submit']{
	padding-left: 3em;
	padding-right: 3em;
}
.page-dataimport-text{
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 10em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.page-dataimport-text .head{
	position: absolute;
	left : 0.5em;
	top : 1em;
	z-index: 1;
}
.page-dataimport-text > .content{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	min-height: 30em;
}
.page-dataimport-text .wizard > .steps{
	width: 80%;
	margin-left: 8em;
	padding-top: 0.2em;
}
.page-dataimport-text .wizard > .content{
	position: absolute;
	left: 0.5em;
	right: 0.5em;
	top: 3.5em;
	bottom: 4em;
	padding: 0 0;
}
.page-dataimport-text .wizard > .actions{
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0.2em;
	height: 3em;
}
.page-dataimport-text .form-item-upload,
.page-dataimport-text .form-item-progress{
	height: 2.8em;
}
.page-dataimport-text .form-item-upload-label{
	margin-right: 0.5em;
}
.page-dataimport-text .fileinput-button{
	padding-left: 3em;
	padding-right: 3em;
}
.page-dataimport-text .form-item-progress-label{
	margin-right: 0.5em;
}
.page-dataimport-text .form-item-progress .ui-progressbar{
	display: inline-block;
    width: 35%;
    vertical-align: middle;
}
.page-dataimport-text .form-item-progress .progress-percent{
	display: inline-block;
	padding-left: 0.2em;
}
.page-dataimport-text .form-item-table{
	position: relative;
}
.page-dataimport-text .form-item-table .table-operation-wrapper{
	position: absolute;
	top : -2.5em;
	right: 0;
}
.page-dataimport-text .form-item-table .table-wrapper{
}
.page-dataimport-text .minor-dataTable table.dataTable thead th, .minor-dataTable table.dataTable thead td{
	font-size: medium;
}
.page-dataimport-text .form-item-table .file-encoding-wrapper{
	position: absolute;
	top : -2.5em;
	right: 10em;
}
.page-dataimport-text .form-item-table .file-encoding-wrapper .file-encoding-label{
	padding-right: 0.5em;
}
.page-dataimport-text .form-item-table .file-encoding-wrapper .ui-selectmenu-button.ui-button{
	width: 8em;
}
.page-dataimport-text .restart-wrapper{
	position: absolute;
	right: 0.5em;
	bottom: 0;
	height: 3em;
}
.page-dataimport-text .dataTable .import-result-icon{
	margin-left: 0.2em;
	vertical-align: middle;
	border: none;
    background: none;
}
.page-dataimport-text .dataTable .import-result-icon.ui-state-error{
    cursor: pointer;
}
.page-dataexchange-log{
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 10em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.page-dataexchange-log > .content{
	overflow: auto;
}
.page-dataexchange-log .dataexchange-log-content{
	padding-left: 0.5em;
	padding-right: 0.5em;
}