/*
由codemirror-5.64.0/theme/idea.css修改，把"idea"替换为"custom"
*/

.cm-s-custom span.cm-meta { color: var(--text-color-secondary); }
.cm-s-custom span.cm-number { color: var(--indigo-500); }
.cm-s-custom span.cm-keyword { line-height: 1em; font-weight: bold; color: var(--primary-700); }
.cm-s-custom span.cm-atom { font-weight: bold; color: var(--primary-color); }
.cm-s-custom span.cm-def { color: var(--primary-color); }
.cm-s-custom span.cm-variable { color: var(--text-color); }
.cm-s-custom span.cm-variable-2 { color: var(--text-color); }
.cm-s-custom span.cm-variable-3, .cm-s-custom span.cm-type { color: var(--text-color); }
.cm-s-custom span.cm-property { color: var(--text-color); }
.cm-s-custom span.cm-operator { color: var(--text-color); }
.cm-s-custom span.cm-comment { color: var(--text-color-secondary); }
.cm-s-custom span.cm-string { color: var(--green-600); }
.cm-s-custom span.cm-string-2 { color: var(--green-600); }
.cm-s-custom span.cm-qualifier { color: var(--text-color); }
.cm-s-custom span.cm-error { color: var(--red-700); }
.cm-s-custom span.cm-attribute { color: var(--primary-color); }
.cm-s-custom span.cm-tag { color: var(--primary-color); }
.cm-s-custom span.cm-link { color: var(--indigo-500); }
.cm-s-custom .CodeMirror-activeline-background { background: var(--surface-ground); }

.cm-s-custom span.cm-builtin { color: var(--primary-color); }
.cm-s-custom span.cm-bracket { color: var(--primary-300); }

.cm-s-custom .CodeMirror-matchingbracket { outline:1px solid var(--surface-300); color: var(--text-color) !important; }
.cm-s-custom .CodeMirror-matchingtag{ background: var(--surface-300); }

.CodeMirror-hints.custom {
  background-color: var(--surface-d) !important;
  border: 1px solid var(--surface-border);
  color: var(--text-color);
  box-shadow: 0px 0px 5px var(--surface-600);
}
.CodeMirror-hints.custom .CodeMirror-hint{
	color: var(--text-color);
}
.CodeMirror-hints.custom .CodeMirror-hint-active {
  background-color: var(--surface-200) !important;
  color: var(--text-color) !important;
}

.CodeMirror-foldmarker{
	color: var(--text-color);
}