@CHARSET "UTF-8";

/*行号区*/
.ace-tm .ace_gutter{
	background-color: #2e6c00;
	color: #53af0e;
}
/*当前行*/
.ace-tm .ace_gutter-active-line,
.ace-tm .ace_marker-layer .ace_active-line{
	background-color: #346b01;	
}
.ace-tm .ace_gutter-active-line{
	font-weight: bold;
}
/*关键字*/
.ace-tm .ace_storage, .ace-tm .ace_keyword{
	color: #eacd02;
}
/*函数*/
.ace-tm .ace_support.ace_function{
	color: #eacd02;
}
/*操作符*/
.ace-tm .ace_keyword.ace_operator{
	color: #FFB90F;
}
/*字符串*/
.ace-tm .ace_string{
	color: #ccc;
}
/*数字*/
.ace-tm .ace_constant.ace_numeric{
	color: #069cd2;
}
/*括弧*/
.ace-tm .ace_paren{
	color: #FFB90F;
}
/*鼠标指针*/
.ace-tm .ace_cursor{
	border-left: 1px solid #333;
}
/*选中区域*/
.ace-tm .ace_marker-layer .ace_selection{
	background-color: #0080ff;
}
/**选中文本*/
.ace-tm .ace_marker-layer .ace_selected-word{
	color: white;
}
/*自动补全*/
.ace_editor.ace_autocomplete{
	background: #285c00;
	border: 1px solid #45930b;
    color: #ffffff;
    -webkit-box-shadow: 0px 0px 6px #cccccc;
    box-shadow: 0px 0px 6px #cccccc;
}
.ace_editor.ace_autocomplete .ace_line-hover{
	background: #3c8009;
	border: 1px solid #3c8009;
}
.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line{
	background: #459e05;
}
.ace_editor.ace_autocomplete .ace_completion-highlight{
	color: #59c908;
}