/*
 * Copyright 2018 datagear.tech. All Rights Reserved.
 */

@CHARSET "UTF-8";

/*表格图表*/
.dg-chart-table{
	position: relative;
}
.dg-chart-table .dg-chart-table-title{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
}
.dg-chart-table .dg-chart-table-content{
	position: absolute;
	left: 1px;
	top: 1.6em;
	right: 1px;
	bottom: 1px;
}
.dg-chart-table.dg-hide-title .dg-chart-table-title{
	display: none;
}
.dg-chart-table.dg-hide-title .dg-chart-table-content{
	top: 0.1em;
}
.dg-chart-table .dg-chart-table-content table.dataTable thead th,
.dg-chart-table .dg-chart-table-content table.dataTable thead td,
.dg-chart-table .dg-chart-table-content table.dataTable tbody th,
.dg-chart-table .dg-chart-table-content table.dataTable tbody td{
	padding: 0.5em 0.8em;
	text-align: left;
	white-space: nowrap;
}
.dg-chart-table .dg-chart-table-content table.dataTable td.dataTables_empty{
	display: none;/*隐藏初始未加载数据时的空行，避免影响样式*/
}

/*标签图表*/
.dg-chart-label{
	position: relative;
}
.dg-chart-label .dg-chart-label-item .label-name{
	text-align: center;
}
.dg-chart-label .dg-chart-label-item .label-value{
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

/*数据集参数值表单*/
.dg-dspv-form{}
.dg-dspv-form .dg-dspv-form-content{
	padding: 0.3em 0.3em;
}
.dg-dspv-form .dg-dspv-form-content .dg-dspv-form-item{
	padding-top: 0.35em;
	padding-bottom: 0.35em;
}
.dg-dspv-form .dg-dspv-form-content .dg-dspv-form-item .dg-dspv-form-item-label{
	padding-bottom: 0.2em;
}
.dg-dspv-form .dg-dspv-form-content .dg-dspv-form-item .dg-dspv-form-input-wrapper{
	white-space: nowrap;
	display: inline-block;
	padding-right: 0.5em;
}
.dg-dspv-form .dg-dspv-form-content .dg-dspv-form-item .dg-dspv-form-item-value input[type=text],
.dg-dspv-form .dg-dspv-form-content .dg-dspv-form-item .dg-dspv-form-item-value textarea,
.dg-dspv-form .dg-dspv-form-content .dg-dspv-form-item .dg-dspv-form-item-value select{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0.3em 0.3em;
	border-radius: 3px;
}
.dg-dspv-form .dg-dspv-form-content .dg-validation-required,
.dg-dspv-form .dg-dspv-form-content .dg-validation-number{
	border-color: red!important;
}
.dg-dspv-form .dg-dspv-form-foot{
	padding-top: 0.3em;
	text-align: center;
}

/*图表展示页面设置框*/
.dg-chart-setting-box{
	position: absolute;
	right: 0.1em;
	top: 0.1em;
}
.dg-chart-setting-box .dg-chart-setting-panel,
.dg-chart-setting-box button{
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.dg-chart-setting-box .dg-chart-setting-button{
	opacity: 0.8;
	filter: Alpha(Opacity=80);
	font-size: 0.8em!important;
	padding: 0.1em 0.2em!important;
	margin: 0 0!important;
	border-width: 1px;
	border-style: solid;
}
.dg-chart-setting-box .dg-chart-setting-panel{
	position: absolute;
	right: 0;
	border-width: 1px;
	border-style: solid;
	padding: 0.41em 0.8em;
	user-select: text;
	-webkit-user-select: text;
}
.dg-chart-setting-box .dg-chart-setting-panel .dg-chart-setting-panel-head{
	font-weight: bold;
	white-space: nowrap;
	padding-bottom: 0.41em;
}
.dg-chart-setting-box .dg-chart-setting-panel .dg-chart-setting-panel-content{
	overflow: auto;
	font-size: 0.9em;
	max-width: 41em;
}
.dg-chart-setting-box .dg-chart-setting-panel .dg-chart-setting-panel-foot{
	padding-top: 0.41em;
	text-align: center;
}
.dg-chart-setting-box .dg-chart-setting-panel .dg-chart-setting-panel-foot button{
	padding-left: 2em;
	padding-right: 2em;
	border-width: 1px;
	border-style: solid;
}
.dg-chart-setting-box .dg-chart-setting-panel .dg-chart-setting-panel-foot button:hover{
	opacity: 0.8;
	filter: Alpha(Opacity=80);
}
.dg-chart-setting-box .dg-chart-setting-panel .dg-chart-setting-panel-foot button:active{
	opacity: 1;
	filter: Alpha(Opacity=100);
}
.dg-chart-setting-box .dg-chart-setting-panel .dg-param-value-form-wrapper{
	border-width: 1px;
	border-style: solid;
	padding: 0.5em 0.5em;
	margin: 0.5em 0;
	border-radius: 3px;
}
.dg-chart-setting-box .dg-chart-setting-panel .dg-param-value-form-head{
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	padding: 0.2em 0em;
}
.dg-chart-setting-box .dg-chart-setting-panel .dg-dspv-form input,
.dg-chart-setting-box .dg-chart-setting-panel .dg-dspv-form select,
.dg-chart-setting-box .dg-chart-setting-panel .dg-dspv-form textarea
.dg-chart-setting-box .dg-chart-setting-panel .dg-dspv-form button{
	font-size: 1em;
	border-width: 1px;
	border-style: solid;
	padding: 0.3em 0;
}
.dg-chart-setting-box .dg-chart-setting-panel button{
	padding: 0.4em 0.8em;
	white-space: nowrap;
	font-size: 1em;
}