/*
 * Copyright 2018 datagear.tech. All Rights Reserved.
 */

@CHARSET "UTF-8";

.dg-chart-table{
	position: relative;
}

.dg-chart-table .dg-chart-table-title{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
}

.dg-chart-table .dg-chart-table-content{
	position: absolute;
	left: 0.1em;
	top: 1.6em;
	right: 0.1em;
	bottom: 0.1em;
}

.dg-chart-table.dg-hide-title .dg-chart-table-title{
	display: none;
}

.dg-chart-table.dg-hide-title .dg-chart-table-content{
	top: 0.1em;
}

.dg-chart-table .dg-chart-table-content table.dataTable thead th,
.dg-chart-table .dg-chart-table-content table.dataTable thead td,
.dg-chart-table .dg-chart-table-content table.dataTable tbody th,
.dg-chart-table .dg-chart-table-content table.dataTable tbody td{
	padding: 0.5em 0.8em;
	text-align: left;
	white-space: nowrap;
}

.dg-chart-label .dg-chart-label-item .label-name{
	text-align: center;
}

.dg-chart-label .dg-chart-label-item .label-value{
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.data-set-param-value-form{}
.data-set-param-value-form .dspv-content{
	padding: 0.3em 0.3em;
}
.data-set-param-value-form .dspv-content .form-item{
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}
.data-set-param-value-form .dspv-content .form-item .form-item-label{
	padding-bottom: 0.1em;
}
.data-set-param-value-form .dspv-content .form-item .form-item-value select{
	width: 100%;
}
.data-set-param-value-form .dspv-content .validation-required,
.data-set-param-value-form .dspv-content .validation-number{
	border-color: red!important;
}
.data-set-param-value-form .dspv-foot{
	padding-top: 0.3em;
	text-align: center;
}

.dg-chart-setting-box{
	position: absolute;
	right: 0.1em;
	top: 0.1em;
}
.dg-chart-setting-box .dg-chart-setting-panel,
.dg-chart-setting-box button{
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.dg-chart-setting-box .dg-chart-setting-button{
	opacity: 0.8;
	filter: Alpha(Opacity=80);
	font-size: 0.8em!important;
	padding: 0.1em 0.2em!important;
	margin: 0 0!important;
}
.dg-chart-setting-box .dg-chart-setting-panel{
	position: absolute;
	right: 0;
	border-width: 1px;
	border-style: solid;
	padding: 0.5em 0.8em;
}
.dg-chart-setting-box .dg-chart-setting-panel .dg-chart-setting-panel-head{
	font-weight: bold;
	font-size: 1.1em;
}
.dg-chart-setting-box .dg-chart-setting-panel .dg-chart-setting-panel-content{
	overflow: auto;
}
.dg-chart-setting-box .dg-chart-setting-panel .dg-chart-setting-panel-foot{
	padding-top: 0.6em;
	text-align: center;
}
.dg-chart-setting-box .dg-chart-setting-panel .dg-chart-setting-panel-foot button{
	padding-left: 2em;
	padding-right: 2em;
}
.dg-chart-setting-box .dg-chart-setting-panel .dg-param-value-form-wrapper{
	border-width: 1px;
	border-style: solid;
	padding: 0.3em 0.3em;
	margin: 0.5em 0;
}
.dg-chart-setting-box .dg-chart-setting-panel .dg-param-value-form-head{
	font-weight: bold;
	max-width: 20em;
	overflow: hidden;
	white-space: nowrap;
}
.dg-chart-setting-box .dg-chart-setting-panel .data-set-param-value-form input,
.dg-chart-setting-box .dg-chart-setting-panel .data-set-param-value-form select,
.dg-chart-setting-box .dg-chart-setting-panel .data-set-param-value-form button{
	font-size: 1em;
	border-width: 1px;
	border-style: solid;
	padding: 0.1em 0.1em;
}
.dg-chart-setting-box .dg-chart-setting-panel button{
	padding: 0.4em 0.8em;
	white-space: nowrap;
	font-size: 1em;
}