@CHARSET "UTF-8";

/*行号区*/
.ace-tm .ace_gutter{
	background-color: #efefef;
	color: #666666;
}
/*当前行*/
.ace-tm .ace_gutter-active-line,
.ace-tm .ace_marker-layer .ace_active-line{
	background-color: #f5f5f5;	
}
.ace-tm .ace_gutter-active-line{
	font-weight: bold;
}
/*关键字*/
.ace-tm .ace_storage, .ace-tm .ace_keyword{
	color: #0000f0;
}
/*函数*/
.ace-tm .ace_support.ace_function{
	color: #0000f0;
}
/*操作符*/
.ace-tm .ace_keyword.ace_operator{
	color: #0000a0;
}
/*字符串*/
.ace-tm .ace_string{
	color: #666;
}
/*数字*/
.ace-tm .ace_constant.ace_numeric{
	color: #f58400;
}
/*括弧*/
.ace-tm .ace_paren{
	color: #0000a0;
}
/*鼠标指针*/
.ace-tm .ace_cursor{
	border-left: 1px solid #333;
}
/*选中区域*/
.ace-tm .ace_marker-layer .ace_selection{
	background-color: #0080ff;
}
/**选中文本*/
.ace-tm .ace_marker-layer .ace_selected-word{
	color: white;
}
/*自动补全*/
.ace_editor.ace_autocomplete{
	background: #fff;
	border: 1px solid #dddddd;
    color: #333333;
    -webkit-box-shadow: 0px 0px 5px #666666;
    box-shadow: 0px 0px 5px #666666;
}
.ace_editor.ace_autocomplete .ace_line-hover{
	background: #f6f6f6;
	border: 1px solid #f6f6f6;
}
.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line{
	background: #ededed;
}
.ace_editor.ace_autocomplete .ace_completion-highlight{
	color: #007fff;
}
/*HTML标签*/
.ace-tm .ace_meta.ace_tag{
	
}
/*函数名*/
.ace-tm .ace_entity.ace_name.ace_function{
	
}
/*属性名*/
.ace-tm .ace_attribute-name{
	color: #9b9b00;
}
/*缩进*/
.ace-tm .ace_indent-guide{
	border-right: 1px dotted #DDD;
	background: none;
}