<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.datagear.management.domain.AnalysisProject">

	<!--
		 用于外部AnalysisProjectAwareEntity实体处理权限级联引用的公用SQL，下面的include必须采用全名，不然会出现死循环。
		 注意：
		 引用方必须传递DP_RESOURCE_TYPE_ANALYSIS_PROJECT参数，且值为：AnalysisProject.AUTHORIZATION_RESOURCE_TYPE，
		 因为此SQL片段通常作为第二处数据权限片段被引入，会出现DP_RESOURCE_TYPE冲突而导致逻辑出错。
	-->
	<sql id="queryViewIdPermissionForAnalysisProjectAwareEntity">
		<bind name="DP_RESOURCE_TYPE" value="DP_RESOURCE_TYPE_ANALYSIS_PROJECT"/>
		SELECT
			T.DATA_ID as AP_ID,
			T.DATA_PERMISSION
		FROM
			(
				<include refid="commonDataPermission.dataIdPermissionQueryViewHead" />
				<include refid="org.datagear.management.domain.AnalysisProject.queryViewDataPermissionId" />
				<include refid="commonDataPermission.dataIdPermissionQueryViewFoot" />
			) T
		WHERE
			T.DATA_PERMISSION >= ${DP_MIN_READ_PERMISSION}
	</sql>
	
</mapper>