<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.datagear.management.domain.DataSetEntity">

	<insert id="insert">
		INSERT INTO DATAGEAR_DATA_SET
			(
			DS_ID, DS_NAME, DS_TYPE, DS_CREATE_USER_ID, DS_CREATE_TIME
			)
		VALUES
			(
			#{entity.id}, #{entity.name}, #{entity.dataSetType}, #{entity.createUser.id}, #{entity.createTime}
			)
	</insert>
	
	<insert id="insertSqlDataSetEntity">
		INSERT INTO DATAGEAR_DATA_SET_SQL
			(
			DS_ID, DS_SCHEMA_ID, DS_SQL
			)
		VALUES
			(
			#{entity.id}, #{entity.schemaConnectionFactory.schema.id}, #{entity.sql}
			)
	</insert>
	
	<insert id="insertJsonValueDataSetEntity">
		INSERT INTO DATAGEAR_DATA_SET_JSON_VALUE
			(
			DS_ID, DS_VALUE
			)
		VALUES
			(
			#{entity.id}, #{entity.value}
			)
	</insert>
	
	<insert id="insertJsonFileDataSetEntity">
		INSERT INTO DATAGEAR_DATA_SET_JSON_FILE
			(
			DS_ID, DS_FILE_NAME, DS_FILE_ENCODING, DS_DISPLAY_NAME
			)
		VALUES
			(
			#{entity.id}, #{entity.fileName}, #{entity.encoding}, #{entity.displayName}
			)
	</insert>
	
	<insert id="insertPropertyPO">
		INSERT INTO DATAGEAR_DATA_SET_PROP
			(
			PROP_DS_ID, PROP_NAME, PROP_TYPE, PROP_LABEL, PROP_ORDER
			)
		VALUES
			(
			#{dataSetId}, #{child.name}, #{child.type}, #{child.label, jdbcType=VARCHAR}, #{order}
			)
	</insert>
	
	<insert id="insertParamPO">
		INSERT INTO DATAGEAR_DATA_SET_PAR
			(
			PAR_DS_ID, PAR_NAME, PAR_TYPE, PAR_REQUIRED, PAR_DESC,
			PAR_INPUT_TYPE, PAR_INPUT_PAYLOAD, PAR_ORDER
			)
		VALUES
			(
			#{dataSetId}, #{child.name}, #{child.type}, #{child.required}, #{child.desc, jdbcType=VARCHAR},
			 #{child.inputType, jdbcType=VARCHAR}, #{child.inputPayload, jdbcType=VARCHAR}, #{order}
			)
	</insert>
	
	<update id="update">
		UPDATE DATAGEAR_DATA_SET SET
			DS_NAME = #{entity.name}
		WHERE
			DS_ID = #{entity.id}
	</update>
	
	<update id="updateCreateUserId">
		UPDATE DATAGEAR_DATA_SET SET
			DS_CREATE_USER_ID = #{newUserId}
		WHERE
			DS_CREATE_USER_ID = #{oldUserId}
	</update>
	
	<update id="updateSqlDataSetEntity">
		UPDATE DATAGEAR_DATA_SET_SQL SET
			DS_SCHEMA_ID = #{entity.schemaConnectionFactory.schema.id},
			DS_SQL = #{entity.sql}
		WHERE
			DS_ID = #{entity.id}
	</update>
	
	<update id="updateJsonValueDataSetEntity">
		UPDATE DATAGEAR_DATA_SET_JSON_VALUE SET
			DS_VALUE = #{entity.value}
		WHERE
			DS_ID = #{entity.id}
	</update>
	
	<update id="updateJsonFileDataSetEntity">
		UPDATE DATAGEAR_DATA_SET_JSON_FILE SET
			DS_FILE_NAME = #{entity.fileName},
			DS_FILE_ENCODING = #{entity.encoding},
			DS_DISPLAY_NAME = #{entity.displayName}
		WHERE
			DS_ID = #{entity.id}
	</update>
	
	<delete id="deleteById">
		DELETE FROM DATAGEAR_DATA_SET
		WHERE
			DS_ID = #{id}
	</delete>
	
	<delete id="deletePropertyPOs">
		DELETE FROM DATAGEAR_DATA_SET_PROP
		WHERE
			PROP_DS_ID = #{dataSetId}
	</delete>
	
	<delete id="deleteParamPOs">
		DELETE FROM DATAGEAR_DATA_SET_PAR
		WHERE
			PAR_DS_ID = #{dataSetId}
	</delete>
	
	<select id="getById" resultType="org.datagear.management.domain.SummaryDataSetEntity">
		SELECT
			T.*
		FROM
			(<include refid="queryViewDataPermission" />) T
		WHERE
			T.${_iq_}id${_iq_} = #{id}
	</select>
	
	<select id="getSqlDataSetEntityById" resultType="org.datagear.management.domain.SqlDataSetEntity">
		SELECT
			T1.*,
			T2.DS_SCHEMA_ID AS ${_iq_}schemaConnectionFactory.schema.id${_iq_},
			T3.SCHEMA_TITLE AS ${_iq_}schemaConnectionFactory.schema.title${_iq_},
			T2.DS_SQL AS ${_iq_}sql${_iq_}
		FROM
			(SELECT * FROM (<include refid="queryView" />) T0 WHERE T0.${_iq_}id${_iq_} = #{id}) T1
		INNER JOIN
			DATAGEAR_DATA_SET_SQL T2
		ON
			T1.${_iq_}id${_iq_} = T2.DS_ID
		INNER JOIN
			DATAGEAR_SCHEMA T3
		ON
			T2.DS_SCHEMA_ID = T3.SCHEMA_ID
	</select>
	
	<select id="getJsonValueDataSetEntityById" resultType="org.datagear.management.domain.JsonValueDataSetEntity">
		SELECT
			T1.*,
			T2.DS_VALUE AS ${_iq_}value${_iq_}
		FROM
			(SELECT * FROM (<include refid="queryView" />) T0 WHERE T0.${_iq_}id${_iq_} = #{id}) T1
		INNER JOIN
			DATAGEAR_DATA_SET_JSON_VALUE T2
		ON
			T1.${_iq_}id${_iq_} = T2.DS_ID
	</select>
	
	<select id="getJsonFileDataSetEntityById" resultType="org.datagear.management.domain.JsonFileDataSetEntity">
		SELECT
			T1.*,
			T2.DS_FILE_NAME AS ${_iq_}fileName${_iq_},
			T2.DS_FILE_ENCODING AS ${_iq_}encoding${_iq_},
			T2.DS_DISPLAY_NAME AS ${_iq_}displayName${_iq_}
		FROM
			(SELECT * FROM (<include refid="queryView" />) T0 WHERE T0.${_iq_}id${_iq_} = #{id}) T1
		INNER JOIN
			DATAGEAR_DATA_SET_JSON_FILE T2
		ON
			T1.${_iq_}id${_iq_} = T2.DS_ID
	</select>
	
	<select id="getPropertyPOs" resultType="org.datagear.management.service.impl.DataSetEntityServiceImpl$DataSetPropertyPO">
		SELECT
			PROP_DS_ID AS ${_iq_}dataSetId${_iq_},
			PROP_NAME AS ${_iq_}child.name${_iq_},
			PROP_TYPE AS ${_iq_}child.type${_iq_},
			PROP_LABEL AS ${_iq_}child.label${_iq_},
			PROP_ORDER AS ${_iq_}order${_iq_}
		FROM
			DATAGEAR_DATA_SET_PROP
		WHERE
			PROP_DS_ID = #{dataSetId}
		ORDER BY
			PROP_ORDER ASC
	</select>
	
	<select id="getParamPOs" resultType="org.datagear.management.service.impl.DataSetEntityServiceImpl$DataSetParamPO">
		SELECT
			PAR_DS_ID AS ${_iq_}dataSetId${_iq_},
			PAR_NAME AS ${_iq_}child.name${_iq_},
			PAR_TYPE AS ${_iq_}child.type${_iq_},
			PAR_REQUIRED AS ${_iq_}child.required${_iq_},
			PAR_DESC AS ${_iq_}child.desc${_iq_},
			PAR_INPUT_TYPE AS ${_iq_}child.inputType${_iq_},
			PAR_INPUT_PAYLOAD AS ${_iq_}child.inputPayload${_iq_}, 
			PAR_ORDER AS ${_iq_}order${_iq_}
		FROM
			DATAGEAR_DATA_SET_PAR
		WHERE
			PAR_DS_ID = #{dataSetId}
		ORDER BY
			PAR_ORDER ASC
	</select>
	
	<select id="getDataIdPermissions" resultType="org.datagear.management.domain.DataIdPermission">
		SELECT
			T.DATA_ID as ${_iq_}dataId${_iq_},
			T.DATA_PERMISSION as ${_iq_}dataPermission${_iq_}
		FROM
			(
				<include refid="commonDataPermission.dataIdPermissionQueryViewHead" />
				<include refid="queryViewDataPermissionId" />
				<include refid="commonDataPermission.dataIdPermissionQueryViewFoot" />
			) T
		WHERE
			<foreach item="item" collection="ids" separator=" OR ">T.DATA_ID = #{item}</foreach>
	</select>
	
	<select id="query" resultType="org.datagear.management.domain.SummaryDataSetEntity">
		SELECT
			T.*
		FROM
			(<include refid="queryViewDataPermission" />) T
		WHERE
			<include refid="queryCondition" />
		<include refid="common.queryOrder" />
	</select>
	
	<select id="pagingQueryCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			(<include refid="queryViewDataPermission" />) T
		WHERE
			<include refid="queryCondition" />
	</select>
	
	<select id="pagingQuery" resultType="org.datagear.management.domain.SummaryDataSetEntity">
		<include refid="common.pagingQueryHead" />
			SELECT
				T.*
			FROM
				(<include refid="queryViewDataPermission" />) T
			WHERE
				<include refid="queryCondition" />
			<include refid="common.queryOrder" />
		<include refid="common.pagingQueryFoot" />
	</select>
	
	<sql id="queryViewDataPermission">
		<choose><when test="DP_CURRENT_USER == null">
		<include refid="queryView" />
		</when><otherwise>
		SELECT
			T0.*,
			T1.DATA_PERMISSION as ${_iq_}dataPermission${_iq_}
		FROM
			(<include refid="queryView" />) T0
			INNER JOIN
			(
				<include refid="commonDataPermission.dataIdPermissionQueryViewHead" />
				<include refid="queryViewDataPermissionId" />
				<include refid="commonDataPermission.dataIdPermissionQueryViewFoot" />
			) T1
		ON
			T0.${_iq_}id${_iq_} = T1.DATA_ID
		WHERE
			T1.DATA_PERMISSION >= ${DP_MIN_READ_PERMISSION}
		</otherwise></choose>
	</sql>
	
	<sql id="queryViewDataPermissionId">
		SELECT
			A.DS_ID AS DP_AUTH_DATA_ID,
			A.DS_CREATE_USER_ID AS DP_AUTH_DATA_CREATOR_ID
		FROM
			DATAGEAR_DATA_SET A
	</sql>
	
	<sql id="queryView">
		SELECT
			A.DS_ID AS ${_iq_}id${_iq_},
			A.DS_NAME AS ${_iq_}name${_iq_},
			A.DS_TYPE AS ${_iq_}dataSetType${_iq_},
			A.DS_CREATE_USER_ID AS ${_iq_}createUser.id${_iq_},
			<include refid="common.fieldsForCreateUser" />,
			A.DS_CREATE_TIME AS ${_iq_}createTime${_iq_}
		FROM
			DATAGEAR_DATA_SET A
		LEFT JOIN
			DATAGEAR_USER USR
		ON
			A.DS_CREATE_USER_ID = USR.USER_ID
	</sql>
	
	<sql id="queryCondition">
		1 = 1
		<if test="queryKeyword != null">
		AND
		(
			${_iq_}name${_iq_} LIKE #{queryKeyword}
		)
		</if>
		<include refid="commonDataPermission.dataFilterCondition" />
		<include refid="common.queryCondition" />
	</sql>
</mapper>