<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.datagear.management.domain.HtmlChartWidgetEntity">

	<insert id="insert">
		INSERT INTO DATAGEAR_HTML_CHART_WIDGET
			(
			HCW_ID, HCW_NAME, HCW_PLUGIN_ID, HCW_UPDATE_INTERVAL, HCW_CREATE_USER_ID,
			HCW_CREATE_TIME
			)
		VALUES
			(
			#{entity.id}, #{entity.name}, #{entity.htmlChartPlugin.id}, #{entity.updateInterval}, #{entity.createUser.id},
			#{entity.createTime}
			)
	</insert>
	
	<insert id="insertDataSetRelation">
		INSERT INTO DATAGEAR_HCW_DS
			(
			HCW_ID, DS_ID, DS_PROPERTY_SIGNS, DS_ORDER
			)
		VALUES
			(
			#{widgetId}, #{dataSetId}, #{propertySignsJson, jdbcType=VARCHAR}, #{order}
			)
	</insert>
	
	<update id="update">
		UPDATE DATAGEAR_HTML_CHART_WIDGET SET
			HCW_NAME = #{entity.name},
			HCW_PLUGIN_ID = #{entity.htmlChartPlugin.id},
			HCW_UPDATE_INTERVAL = #{entity.updateInterval}
		WHERE
			HCW_ID = #{entity.id}
	</update>
	
	<delete id="deleteById">
		DELETE FROM DATAGEAR_HTML_CHART_WIDGET
		WHERE
			HCW_ID = #{id}
	</delete>
	
	<delete id="deleteDataSetRelationById">
		DELETE FROM DATAGEAR_HCW_DS
		WHERE
			HCW_ID = #{id}
	</delete>
	
	<select id="getById" resultType="org.datagear.management.domain.HtmlChartWidgetEntity">
		SELECT
			T.*
		FROM
			(<include refid="queryViewDataPermission" />) T
		WHERE
			T.${_iq_}id${_iq_} = #{id}
	</select>
	
	<select id="getDataSetRelations" resultType="org.datagear.management.service.impl.HtmlChartWidgetEntityServiceImpl$WidgetDataSetRelation">
		SELECT
			HCW_ID AS ${_iq_}widgetId${_iq_},
			DS_ID AS ${_iq_}dataSetId${_iq_},
			DS_PROPERTY_SIGNS AS ${_iq_}propertySignsJson${_iq_},
			DS_ORDER AS ${_iq_}order${_iq_}
		FROM
			DATAGEAR_HCW_DS
		WHERE
			HCW_ID = #{widgetId}
	</select>
	
	<select id="getDataIdPermissions" resultType="org.datagear.management.domain.DataIdPermission">
		SELECT
			T.DATA_ID as ${_iq_}dataId${_iq_},
			T.DATA_PERMISSION as ${_iq_}dataPermission${_iq_}
		FROM
			(
				<include refid="commonDataPermission.dataIdPermissionQueryViewHead" />
				<include refid="queryViewDataPermissionId" />
				<include refid="commonDataPermission.dataIdPermissionQueryViewFoot" />
			) T
		WHERE
			<foreach item="item" collection="ids" separator=" OR ">T.DATA_ID = #{item}</foreach>
	</select>
	
	<select id="query" resultType="org.datagear.management.domain.HtmlChartWidgetEntity">
		SELECT
			T.*
		FROM
			(<include refid="queryViewDataPermission" />) T
		WHERE
			<include refid="queryCondition" />
		<include refid="common.queryOrder" />
	</select>
	
	<select id="pagingQueryCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			(<include refid="queryViewDataPermission" />) T
		WHERE
			<include refid="queryCondition" />
	</select>
	
	<select id="pagingQuery" resultType="org.datagear.management.domain.HtmlChartWidgetEntity">
		<include refid="common.pagingQueryHead" />
			SELECT
				T.*
			FROM
				(<include refid="queryViewDataPermission" />) T
			WHERE
				<include refid="queryCondition" />
			<include refid="common.queryOrder" />
		<include refid="common.pagingQueryFoot" />
	</select>
	
	<sql id="queryViewDataPermission">
		<choose><when test="DP_CURRENT_USER == null">
		<include refid="queryView" />
		</when><otherwise>
		SELECT
			T0.*,
			T1.DATA_PERMISSION as ${_iq_}dataPermission${_iq_}
		FROM
			(<include refid="queryView" />) T0
			INNER JOIN
			(
				<include refid="commonDataPermission.dataIdPermissionQueryViewHead" />
				<include refid="queryViewDataPermissionId" />
				<include refid="commonDataPermission.dataIdPermissionQueryViewFoot" />
			) T1
		ON
			T0.${_iq_}id${_iq_} = T1.DATA_ID
		WHERE
			T1.DATA_PERMISSION >= ${DP_MIN_READ_PERMISSION}
		</otherwise></choose>
	</sql>
	
	<sql id="queryViewDataPermissionId">
		SELECT
			A.HCW_ID AS DP_AUTH_DATA_ID,
			A.HCW_CREATE_USER_ID AS DP_AUTH_DATA_CREATOR_ID
		FROM
			DATAGEAR_HTML_CHART_WIDGET A
	</sql>
	
	<sql id="queryView">
		SELECT
			A.HCW_ID AS ${_iq_}id${_iq_},
			A.HCW_NAME AS ${_iq_}name${_iq_},
			A.HCW_PLUGIN_ID AS ${_iq_}htmlChartPlugin.id${_iq_},
			A.HCW_UPDATE_INTERVAL AS ${_iq_}updateInterval${_iq_},
			<include refid="common.fieldsForCreateUser" />,
			A.HCW_CREATE_TIME AS ${_iq_}createTime${_iq_}
		FROM
			DATAGEAR_HTML_CHART_WIDGET A
		LEFT JOIN
			DATAGEAR_USER USR
		ON
			A.HCW_CREATE_USER_ID = USR.USER_ID
	</sql>
	
	<sql id="queryCondition">
		1 = 1
		<if test="queryKeyword != null">
		AND
		(
			${_iq_}name${_iq_} LIKE #{queryKeyword}
		)
		</if>
		<include refid="commonDataPermission.dataFilterCondition" />
		<include refid="common.queryCondition" />
	</sql>
</mapper>