<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.datagear.management.domain.HtmlChartWidgetEntity">

	<insert id="insert">
		INSERT INTO DATAGEAR_HTML_CHART_WIDGET
			(
			HCW_ID, HCW_NAME, HCW_PLUGIN_ID, HCW_UPDATE_INTERVAL, HCW_CREATE_USER_ID,
			HCW_CREATE_TIME, HCW_AP_ID, HCW_RD_FORMAT,
			HCW_ATTR_VALUES, HCW_OPTIONS
			)
		VALUES
			(
			#{entity.id}, #{entity.name}, #{entity.pluginVo.id}, #{entity.updateInterval}, #{entity.createUser.id},
			#{entity.createTime}, #{entity.analysisProject.id, jdbcType=VARCHAR}, #{entity.resultDataFormat, jdbcType=VARCHAR},
			#{entity.attrValuesJson, jdbcType=VARCHAR}, #{entity.options, jdbcType=VARCHAR} 
			)
	</insert>
	
	<insert id="insertDataSetRelation">
		INSERT INTO DATAGEAR_HCW_DS
			(
			HCW_ID, DS_ID, DS_PROPERTY_SIGNS, DS_ALIAS, DS_ATTACHMENT,
			DS_QUERY, DS_PROPERTY_ALIASES, DS_PROPERTY_ORDERS, DS_ORDER,
			DS_DATASET_SIGNS
			)
		VALUES
			(
			#{entity.widgetId}, #{entity.dataSetId}, #{entity.fieldSignsJson, jdbcType=VARCHAR}, #{entity.alias, jdbcType=VARCHAR}, #{entity.attachment, jdbcType=VARCHAR},
			#{entity.queryJson, jdbcType=VARCHAR}, #{entity.fieldAliasesJson, jdbcType=VARCHAR}, #{entity.fieldOrdersJson, jdbcType=VARCHAR}, #{entity.order},
			#{entity.dataSetSignsJson, jdbcType=VARCHAR}
			)
	</insert>
	
	<update id="update">
		UPDATE DATAGEAR_HTML_CHART_WIDGET SET
			HCW_NAME = #{entity.name},
			HCW_PLUGIN_ID = #{entity.pluginVo.id},
			HCW_UPDATE_INTERVAL = #{entity.updateInterval},
			HCW_AP_ID = #{entity.analysisProject.id, jdbcType=VARCHAR},
			HCW_RD_FORMAT = #{entity.resultDataFormat, jdbcType=VARCHAR},
			HCW_ATTR_VALUES = #{entity.attrValuesJson, jdbcType=VARCHAR},
			HCW_OPTIONS = #{entity.options, jdbcType=VARCHAR}
		WHERE
			HCW_ID = #{entity.id}
	</update>
	
	<update id="updateCreateUserId">
		UPDATE DATAGEAR_HTML_CHART_WIDGET SET
			HCW_CREATE_USER_ID = #{newUserId}
		WHERE
			HCW_CREATE_USER_ID IN
			<foreach item="item" index="index" collection="oldUserIds" open="(" separator="," close=")">
			#{item}
			</foreach>
	</update>
	
	<delete id="deleteById">
		DELETE FROM DATAGEAR_HTML_CHART_WIDGET
		WHERE
			HCW_ID = #{id}
	</delete>
	
	<delete id="deleteDataSetRelationById">
		DELETE FROM DATAGEAR_HCW_DS
		WHERE
			HCW_ID = #{id}
	</delete>
	
	<select id="getById" resultType="org.datagear.management.domain.HtmlChartWidgetEntity">
		SELECT
			T.*
		FROM
			(<include refid="queryViewDataPermission" />) T
		WHERE
			T.${_iq_}id${_iq_} = #{id}
	</select>
	
	<select id="getDataSetRelations" resultType="org.datagear.management.service.impl.HtmlChartWidgetEntityServiceImpl$WidgetDataSetRelation">
		SELECT
			HCW_ID AS ${_iq_}widgetId${_iq_},
			DS_ID AS ${_iq_}dataSetId${_iq_},
			DS_PROPERTY_SIGNS AS ${_iq_}fieldSignsJson${_iq_},
			DS_ALIAS AS ${_iq_}alias${_iq_},
			DS_ATTACHMENT AS ${_iq_}attachment${_iq_},
			DS_QUERY AS ${_iq_}queryJson${_iq_},
			DS_PROPERTY_ALIASES AS ${_iq_}fieldAliasesJson${_iq_},
			DS_PROPERTY_ORDERS AS ${_iq_}fieldOrdersJson${_iq_},
			DS_ORDER AS ${_iq_}order${_iq_},
			DS_DATASET_SIGNS AS ${_iq_}dataSetSignsJson${_iq_}
		FROM
			DATAGEAR_HCW_DS
		WHERE
			HCW_ID = #{widgetId}
	</select>
	
	<select id="getDataIdPermissions" resultType="org.datagear.management.domain.DataIdPermission">
		SELECT
			T.DATA_ID as ${_iq_}dataId${_iq_},
			T.DATA_PERMISSION as ${_iq_}dataPermission${_iq_}
		FROM
			(<include refid="queryViewDataIdPermission" />) T
		WHERE
			<foreach item="item" collection="ids" separator=" OR ">T.DATA_ID = #{item}</foreach>
	</select>
	
	<select id="query" resultType="org.datagear.management.domain.HtmlChartWidgetEntity">
		SELECT
			T.*
		FROM
			(<include refid="queryViewDataPermission" />) T
		WHERE
			<include refid="queryCondition" />
		<include refid="common.queryOrder" />
	</select>
	
	<select id="pagingQueryCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			(<include refid="queryViewDataPermission" />) T
		WHERE
			<include refid="queryCondition" />
	</select>
	
	<select id="pagingQuery" resultType="org.datagear.management.domain.HtmlChartWidgetEntity">
		<include refid="common.pagingQueryHead" />
			SELECT
				T.*
			FROM
				(<include refid="queryViewDataPermission" />) T
			WHERE
				<include refid="queryCondition" />
			<include refid="common.queryOrder" />
		<include refid="common.pagingQueryFoot" />
	</select>
	
	<sql id="queryViewDataPermission">
		<choose><when test="DP_CURRENT_USER == null">
		<include refid="queryView" />
		</when><otherwise>
		SELECT
			T0.*,
			T1.DATA_PERMISSION as ${_iq_}dataPermission${_iq_}
		FROM
			(<include refid="queryView" />) T0
			INNER JOIN
			(<include refid="queryViewDataIdPermission" />) T1
		ON
			T0.${_iq_}id${_iq_} = T1.DATA_ID
		WHERE
			T1.DATA_PERMISSION IS NOT NULL AND T1.DATA_PERMISSION >= ${DP_MIN_READ_PERMISSION}
		</otherwise></choose>
	</sql>
	
	<sql id="queryViewDataIdPermission">
		SELECT
			T0.HCW_ID AS DATA_ID,
			(
				CASE
					WHEN T2.DATA_PERMISSION IS NULL THEN T1.DATA_PERMISSION
					WHEN T1.DATA_PERMISSION >= ${DP_MIN_READ_PERMISSION} THEN T1.DATA_PERMISSION
					ELSE T2.DATA_PERMISSION
				END
			) AS DATA_PERMISSION
		FROM
			DATAGEAR_HTML_CHART_WIDGET T0
		LEFT JOIN
			(
				<include refid="commonDataPermission.dataIdPermissionQueryViewHead" />
				<include refid="queryViewDataPermissionId" />
				<include refid="commonDataPermission.dataIdPermissionQueryViewFoot" />
			) T1
		ON
			T0.HCW_ID = T1.DATA_ID
		LEFT JOIN
			(
				<include refid="org.datagear.management.domain.AnalysisProject.queryViewIdPermissionForAnalysisProjectAwareEntity" />
			) T2
		ON
			T0.HCW_AP_ID = T2.AP_ID
	</sql>
	
	<sql id="queryViewDataPermissionId">
		SELECT
			A.HCW_ID AS DP_AUTH_DATA_ID,
			A.HCW_CREATE_USER_ID AS DP_AUTH_DATA_CREATOR_ID
		FROM
			DATAGEAR_HTML_CHART_WIDGET A
	</sql>
	
	<sql id="queryView">
		SELECT
			A.HCW_ID AS ${_iq_}id${_iq_},
			A.HCW_NAME AS ${_iq_}name${_iq_},
			A.HCW_PLUGIN_ID AS ${_iq_}pluginVo.id${_iq_},
			A.HCW_PLUGIN_ID AS ${_iq_}chartPluginName${_iq_},/*默认设置为插件ID，避免页面排序报错*/
			A.HCW_UPDATE_INTERVAL AS ${_iq_}updateInterval${_iq_},
			A.HCW_CREATE_USER_ID AS ${_iq_}createUser.id${_iq_},
			<include refid="common.fieldsForCreateUser" />,
			A.HCW_CREATE_TIME AS ${_iq_}createTime${_iq_},
			A.HCW_RD_FORMAT AS ${_iq_}resultDataFormat${_iq_},
			A.HCW_ATTR_VALUES AS ${_iq_}attrValuesJson${_iq_},
			A.HCW_OPTIONS AS ${_iq_}options${_iq_},
			AP.*
		FROM
			DATAGEAR_HTML_CHART_WIDGET A
		LEFT JOIN
			DATAGEAR_USER USR
		ON
			A.HCW_CREATE_USER_ID = USR.USER_ID
		LEFT JOIN
			(<include refid="org.datagear.management.domain.AnalysisProject.queryViewForAnalysisProjectAwareEntity" />) AP
		ON
			A.HCW_AP_ID = AP.${_iq_}analysisProject.id${_iq_}
	</sql>
	
	<sql id="queryCondition">
		1 = 1
		<if test="queryKeyword != null">
		AND
		(
			${_iq_}id${_iq_} LIKE #{queryKeyword} OR ${_iq_}name${_iq_} LIKE #{queryKeyword}
			OR ${_iq_}analysisProject.name${_iq_} LIKE #{queryKeyword}
		)
		</if>
		<if test="_analysisProjectId != null">
		AND ${_iq_}analysisProject.id${_iq_} = #{_analysisProjectId}
		</if>
		<include refid="commonDataPermission.dataFilterCondition" />
	</sql>
</mapper>