<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.datagear.management.domain.HtmlTplDashboardWidgetEntity">

	<insert id="insert">
		INSERT INTO DATAGEAR_HTML_DASHBOARD
			(
			HD_ID, HD_NAME, HD_TEMPLATE, HD_TEMPLATE_ENCODING, HD_CREATE_USER_ID,
			HD_CREATE_TIME
			)
		VALUES
			(
			#{entity.id}, #{entity.name}, #{entity.template}, #{entity.templateEncoding}, #{entity.createUser.id},
			#{entity.createTime}
			)
	</insert>
	
	<update id="update">
		UPDATE DATAGEAR_HTML_DASHBOARD SET
			HD_NAME = #{entity.name},
			HD_TEMPLATE = #{entity.template},
			HD_TEMPLATE_ENCODING = #{entity.templateEncoding}
		WHERE
			HD_ID = #{entity.id}
	</update>
	
	<delete id="deleteById">
		DELETE FROM DATAGEAR_HTML_DASHBOARD
		WHERE
			HD_ID = #{id}
	</delete>
	
	<select id="getById" resultType="org.datagear.management.domain.HtmlTplDashboardWidgetEntity">
		SELECT
			T.*
		FROM
			(<include refid="queryViewDataPermission" />) T
		WHERE
			T.${_iq_}id${_iq_} = #{id}
	</select>
	
	<select id="getDataIdPermissions" resultType="org.datagear.management.domain.DataIdPermission">
		SELECT
			T.DATA_ID as ${_iq_}dataId${_iq_},
			T.DATA_PERMISSION as ${_iq_}dataPermission${_iq_}
		FROM
			(
				<include refid="commonDataPermission.dataIdPermissionQueryViewHead" />
				<include refid="queryViewDataPermissionId" />
				<include refid="commonDataPermission.dataIdPermissionQueryViewFoot" />
			) T
		WHERE
			<foreach item="item" collection="ids" separator=" OR ">T.DATA_ID = #{item}</foreach>
	</select>
	
	<select id="query" resultType="org.datagear.management.domain.HtmlTplDashboardWidgetEntity">
		SELECT
			T.*
		FROM
			(<include refid="queryViewDataPermission" />) T
		WHERE
			<include refid="queryCondition" />
		<include refid="common.queryOrder" />
	</select>
	
	<select id="pagingQueryCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			(<include refid="queryViewDataPermission" />) T
		WHERE
			<include refid="queryCondition" />
	</select>
	
	<select id="pagingQuery" resultType="org.datagear.management.domain.HtmlTplDashboardWidgetEntity">
		<include refid="common.pagingQueryHead" />
			SELECT
				T.*
			FROM
				(<include refid="queryViewDataPermission" />) T
			WHERE
				<include refid="queryCondition" />
			<include refid="common.queryOrder" />
		<include refid="common.pagingQueryFoot" />
	</select>
	
	<delete id="deleteDataSetRelationById">
		DELETE FROM DATAGEAR_HD_DSF
		WHERE
			HD_ID = #{id}
	</delete>
	
	<insert id="insertDataSetRelation">
		INSERT INTO DATAGEAR_HD_DSF
			(
			HD_ID, DS_ID, DS_ORDER
			)
		VALUES
			(
			#{widgetId}, #{dataSetId}, #{order}
			)
	</insert>
	
	<sql id="queryViewDataPermission">
		<choose><when test="DP_CURRENT_USER == null">
		<include refid="queryView" />
		</when><otherwise>
		SELECT
			T0.*,
			T1.DATA_PERMISSION as ${_iq_}dataPermission${_iq_}
		FROM
			(<include refid="queryView" />) T0
			INNER JOIN
			(
				<include refid="commonDataPermission.dataIdPermissionQueryViewHead" />
				<include refid="queryViewDataPermissionId" />
				<include refid="commonDataPermission.dataIdPermissionQueryViewFoot" />
			) T1
		ON
			T0.${_iq_}id${_iq_} = T1.DATA_ID
		WHERE
			T1.DATA_PERMISSION >= ${DP_MIN_READ_PERMISSION}
		</otherwise></choose>
	</sql>
	
	<sql id="queryViewDataPermissionId">
		SELECT
			A.HD_ID AS DP_AUTH_DATA_ID,
			A.HD_CREATE_USER_ID AS DP_AUTH_DATA_CREATOR_ID
		FROM
			DATAGEAR_HTML_DASHBOARD A
	</sql>
	
	<sql id="queryView">
		SELECT
			A.HD_ID AS ${_iq_}id${_iq_},
			A.HD_NAME AS ${_iq_}name${_iq_},
			A.HD_TEMPLATE AS ${_iq_}template${_iq_},
			A.HD_TEMPLATE_ENCODING AS ${_iq_}templateEncoding${_iq_},
			<include refid="common.fieldsForCreateUser" />,
			A.HD_CREATE_TIME AS ${_iq_}createTime${_iq_}
		FROM
			DATAGEAR_HTML_DASHBOARD A
		LEFT JOIN
			DATAGEAR_USER USR
		ON
			A.HD_CREATE_USER_ID = USR.USER_ID
	</sql>
	
	<sql id="queryCondition">
		1 = 1
		<if test="queryKeyword != null">
		AND
		(
			${_iq_}name${_iq_} LIKE #{queryKeyword}
		)
		</if>
		<include refid="common.queryCondition" />
	</sql>
</mapper>