<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.datagear.management.domain.Schema">

	<insert id="insert">
		INSERT INTO DATAGEAR_SCHEMA
			(
			SCHEMA_ID, SCHEMA_TITLE, SCHEMA_URL, SCHEMA_USER, SCHEMA_PASSWORD,
			SCHEMA_PROPERTIES, DRIVER_ENTITY_ID, SCHEMA_CREATE_USER_ID, SCHEMA_CREATE_TIME
			)
		VALUES
			(
			#{entity.id}, #{entity.title}, #{entity.url}, #{entity.user, jdbcType=VARCHAR}, #{entity.password, jdbcType=VARCHAR},
			#{entity.propertiesJson, jdbcType=VARCHAR}, #{entity.driverEntity.id, jdbcType=VARCHAR}, #{entity.createUser.id}, #{entity.createTime}
			)
	</insert>
	
	<update id="update">
		UPDATE DATAGEAR_SCHEMA SET
			SCHEMA_TITLE = #{entity.title},
			SCHEMA_URL = #{entity.url},
			SCHEMA_USER = #{entity.user, jdbcType=VARCHAR},
			SCHEMA_PASSWORD = #{entity.password, jdbcType=VARCHAR},
			SCHEMA_PROPERTIES = #{entity.propertiesJson, jdbcType=VARCHAR},
			DRIVER_ENTITY_ID = #{entity.driverEntity.id, jdbcType=VARCHAR}
		WHERE
			SCHEMA_ID = #{entity.id}
	</update>
	
	<update id="updateCreateUserId">
		UPDATE DATAGEAR_SCHEMA SET
			SCHEMA_CREATE_USER_ID = #{newUserId}
		WHERE
			SCHEMA_CREATE_USER_ID IN
			<foreach item="item" index="index" collection="oldUserIds" open="(" separator="," close=")">
			#{item}
			</foreach>
	</update>
	
	<delete id="deleteById">
		DELETE FROM DATAGEAR_SCHEMA
		WHERE
			SCHEMA_ID = #{id}
	</delete>
	
	<select id="getById" resultType="org.datagear.management.domain.Schema">
		SELECT
			T.*
		FROM
			(<include refid="queryViewDataPermission" />) T
		WHERE
			T.${_iq_}id${_iq_} = #{id}
	</select>
	
	<select id="getDataIdPermissions" resultType="org.datagear.management.domain.DataIdPermission">
		SELECT
			T.DATA_ID as ${_iq_}dataId${_iq_},
			T.DATA_PERMISSION as ${_iq_}dataPermission${_iq_}
		FROM
			(
				<include refid="commonDataPermission.dataIdPermissionQueryViewHead" />
				<include refid="queryViewDataPermissionId" />
				<include refid="commonDataPermission.dataIdPermissionQueryViewFoot" />
			) T
		WHERE
			<foreach item="item" collection="ids" separator=" OR ">T.DATA_ID = #{item}</foreach>
	</select>
	
	<select id="query" resultType="org.datagear.management.domain.Schema">
		SELECT
			T.*
		FROM
			(<include refid="queryViewDataPermission" />) T
		WHERE
			<include refid="queryCondition" />
		<include refid="common.queryOrder" />
	</select>
	
	<select id="pagingQueryCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			(<include refid="queryViewDataPermission" />) T
		WHERE
			<include refid="queryCondition" />
	</select>
	
	<select id="pagingQuery" resultType="org.datagear.management.domain.Schema">
		<include refid="common.pagingQueryHead" />
			SELECT
				T.*
			FROM
				(<include refid="queryViewDataPermission" />) T
			WHERE
				<include refid="queryCondition" />
			<include refid="common.queryOrder" />
		<include refid="common.pagingQueryFoot" />
	</select>
	
	<sql id="queryViewDataPermission">
		<choose><when test="DP_CURRENT_USER == null">
		<include refid="queryView" />
		</when><otherwise>
		SELECT
			T0.*,
			T1.DATA_PERMISSION as ${_iq_}dataPermission${_iq_}
		FROM
			(<include refid="queryView" />) T0
			INNER JOIN
			(
				<include refid="commonDataPermission.dataIdPermissionQueryViewHead" />
				<include refid="queryViewDataPermissionId" />
				<include refid="commonDataPermission.dataIdPermissionQueryViewFoot" />
			) T1
		ON
			T0.${_iq_}id${_iq_} = T1.DATA_ID
		WHERE
			T1.DATA_PERMISSION >= ${DP_MIN_READ_PERMISSION}
		</otherwise></choose>
	</sql>
	
	<sql id="queryViewDataPermissionId">
		SELECT
			A.SCHEMA_ID AS DP_AUTH_DATA_ID,
			A.SCHEMA_CREATE_USER_ID AS DP_AUTH_DATA_CREATOR_ID
		FROM
			DATAGEAR_SCHEMA A
	</sql>
	
	<sql id="queryView">
		SELECT
			A.SCHEMA_ID AS ${_iq_}id${_iq_},
			A.SCHEMA_TITLE AS ${_iq_}title${_iq_},
			A.SCHEMA_URL AS ${_iq_}url${_iq_},
			A.SCHEMA_USER AS ${_iq_}user${_iq_},
			A.SCHEMA_PASSWORD AS ${_iq_}password${_iq_},
			A.SCHEMA_CREATE_TIME AS ${_iq_}createTime${_iq_},
			A.SCHEMA_PROPERTIES AS ${_iq_}propertiesJson${_iq_},
			A.DRIVER_ENTITY_ID AS ${_iq_}driverEntity.id${_iq_},
			A.SCHEMA_CREATE_USER_ID AS ${_iq_}createUser.id${_iq_},
			<include refid="common.fieldsForCreateUser" />
		FROM
			DATAGEAR_SCHEMA A
		LEFT JOIN
			DATAGEAR_USER USR
		ON
			A.SCHEMA_CREATE_USER_ID = USR.USER_ID
	</sql>
	
	<sql id="queryCondition">
		1 = 1
		<if test="queryKeyword != null">
		AND
		(
			${_iq_}title${_iq_} LIKE #{queryKeyword}
			OR ${_iq_}url${_iq_} LIKE #{queryKeyword}
			OR ${_iq_}createUser.name${_iq_} LIKE #{queryKeyword}
			OR ${_iq_}createUser.realName${_iq_} LIKE #{queryKeyword}
		)
		</if>
	</sql>
</mapper>